## Working with Dates and Times Modules

#### Looking at some built-in python functions (non-Pandas)
datetime is a built-in module but not triggered by default so you still need to import it.

In [1]:
import pandas as pd
import datetime as dt   # not an external library. It's a module (built-into the python language) that's not triggered by default

## Review of Python's datetime Module
A module is a python source file, sort of like an internal library that python loads on demand when needed. There is a datetime method within the datetime module. The datetime method creates a datetime object. A date object is a smaller version of datetime objects.

In [2]:
someday = dt.date(year = 2010, month = 4, day = 12)

In [3]:
# call it then .tab you'll see all methods/attributes available for date objects
someday.year
someday.month
someday.day

12

In [4]:
dt.datetime(2010, 1, 20, 17, 13, 57)  # Time will default to midnight (hr = 0, min = 0)
str(dt.datetime(2010, 1, 20, 17, 13, 57))

'2010-01-20 17:13:57'

In [5]:
str(someday)  # just the date because it's a date object

'2010-04-12'

In [6]:
sometime = dt.datetime(2010, 1, 20, 17, 13, 57)

In [7]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

57

In [8]:
# Useful when working with dates and you want to do revenue by month
# No need for big complex IF statement. Just extract month value and create a new series

## The pandas Timestamp Object
Pandas version of datetime object. Doesn't need the time component, will default to 0,0,0 for midnight.

In [9]:
pd.Timestamp(ts_input = "2015-03-31")
pd.Timestamp(ts_input = "2015/03/31")
pd.Timestamp("2013, 11, 04")
pd.Timestamp("1/1/2015")
pd.Timestamp(ts_input = "12/19/2015")
pd.Timestamp(ts_input = "4/3/2000")
pd.Timestamp(ts_input = "2021-03-08 08:35:15")
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [10]:
# Can also pass python datetime objects
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [11]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22 ))

Timestamp('2000-02-03 21:35:22')

In [12]:
# Why do we need Timestamp than Datetime object? More flexibility, methods, etc.

## The pandas DateTimeIndex Object
A collection of pandas Timestamps. Useful for setting as the index of a series or dataframe object.

In [13]:
dates = ["2016-01-02", "2016-04-12", "2009-09-07"]
pd.DatetimeIndex(data = dates) # will convert strings to pd ts, then store ts into a new object

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [14]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [15]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [16]:
# Let's create a series
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

## The pd.to_datetime() Method
Convenient method to convert existing object into a pandas time-related object. String, date, datetime object, etc. One difference between pd.Timestamp is that if you pass a list to pd.to_datetime it will return a DatetimeIndex object. **The most common use case for this method is to pass an existing series and converting to a Timestamp object**

In [17]:
pd.to_datetime("2001-04-19") #Returns TS
pd.to_datetime(dt.date(2015, 1, 1)) # TS
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 25, 20)) # TS
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"]) #DTI

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [18]:
# defaults to a string Series
times = pd.Series(data = ["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [19]:
pd.to_datetime(arg = times) # dtype is now datetime64. Normalizes structure

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [20]:
# if data is bad, need to be careful
dates2 = pd.Series(data = ["July 4th, 1996", "10/4/1991", "Hello", "2015-02-31"])
dates2

0    July 4th, 1996
1         10/4/1991
2             Hello
3        2015-02-31
dtype: object

In [21]:
# Look at errors = "coerce" param. Default is 'raise'
pd.to_datetime(dates2, errors = "coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [22]:
# Working with UNIX time, which is a way to store time in seconds
# from/since 1970-01-01
pd.to_datetime(arg = [1349720105, 1349806505, 1349979305, 1349892905, 1350065705], unit= "s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-11 18:15:05', '2012-10-10 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [23]:
# How to filter on NaN or NaT?
dates2 = pd.to_datetime(arg = dates2, errors = "coerce")
dates2

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [24]:
dates_df = pd.DataFrame(data = dates2)

In [25]:
dates_df

           0
0 1996-07-04
1 1991-10-04
2        NaT
3        NaT

In [26]:
dates_df.dtypes
dates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
0    2 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 112.0 bytes

In [27]:
dates_df[0].isnull()

0    False
1    False
2     True
3     True
Name: 0, dtype: bool

## Create Range of Dates with the pd.date_range() Method, Part 1
Returns a DateTimeIndex

In [28]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [29]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [30]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [31]:
# freq = "D", "1D", "2" (two days), "H" hour, "6H", B" business days, "W" -SUN, "W-FRI", etc.
# "M" month end, "MS" month start, "A" annual, "A-DEC", etc.
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "B")
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "W")
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "W-FRI")
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "6H")
pd.date_range(start = "2016-01-01", end = "2016-12-31", freq = "M")
pd.date_range(start = "2016-01-01", end = "2016-12-31", freq = "MS")
pd.date_range(start = "2016-01-01", end = "2050-12-31", freq = "A-SEP")

DatetimeIndex(['2016-09-30', '2017-09-30', '2018-09-30', '2019-09-30',
               '2020-09-30', '2021-09-30', '2022-09-30', '2023-09-30',
               '2024-09-30', '2025-09-30', '2026-09-30', '2027-09-30',
               '2028-09-30', '2029-09-30', '2030-09-30', '2031-09-30',
               '2032-09-30', '2033-09-30', '2034-09-30', '2035-09-30',
               '2036-09-30', '2037-09-30', '2038-09-30', '2039-09-30',
               '2040-09-30', '2041-09-30', '2042-09-30', '2043-09-30',
               '2044-09-30', '2045-09-30', '2046-09-30', '2047-09-30',
               '2048-09-30', '2049-09-30', '2050-09-30'],
              dtype='datetime64[ns]', freq='A-SEP')

## Create Range of Dates with the pd.date_range() Method, Part 2

In [32]:
# start and periods (the number of results/timestamps we want to generate)
pd.date_range(start = "2012-09-12", periods = 25, freq = "D")
pd.date_range(start = "2012-09-09", periods = 50, freq = "B") # business days
pd.date_range(start = "19810529", periods = 200, freq = "M")
pd.date_range(start = "2012-09-09", periods = 50, freq = "W-Tue")
pd.date_range(start = "2012-09-12", periods = 50, freq = "6H")
pd.date_range(start = "1981-05-29", end = "2018-04-21", freq = "D")

DatetimeIndex(['1981-05-29', '1981-05-30', '1981-05-31', '1981-06-01',
               '1981-06-02', '1981-06-03', '1981-06-04', '1981-06-05',
               '1981-06-06', '1981-06-07',
               ...
               '2018-04-12', '2018-04-13', '2018-04-14', '2018-04-15',
               '2018-04-16', '2018-04-17', '2018-04-18', '2018-04-19',
               '2018-04-20', '2018-04-21'],
              dtype='datetime64[ns]', length=13477, freq='D')

## Create Range of Dates with the pd.date_range() Method, Part 3

In [33]:
pd.date_range(end = "1999-12-31", periods = 40, freq = "D")
pd.date_range(end = "2018-04-20", start = "2000-01-01", freq = "W-SUN")
pd.date_range(end = "2018-04-20", periods = 50, freq = "MS")
pd.date_range(end = "2018-04-20", periods = 100, freq = "8H")

DatetimeIndex(['2018-03-18 00:00:00', '2018-03-18 08:00:00',
               '2018-03-18 16:00:00', '2018-03-19 00:00:00',
               '2018-03-19 08:00:00', '2018-03-19 16:00:00',
               '2018-03-20 00:00:00', '2018-03-20 08:00:00',
               '2018-03-20 16:00:00', '2018-03-21 00:00:00',
               '2018-03-21 08:00:00', '2018-03-21 16:00:00',
               '2018-03-22 00:00:00', '2018-03-22 08:00:00',
               '2018-03-22 16:00:00', '2018-03-23 00:00:00',
               '2018-03-23 08:00:00', '2018-03-23 16:00:00',
               '2018-03-24 00:00:00', '2018-03-24 08:00:00',
               '2018-03-24 16:00:00', '2018-03-25 00:00:00',
               '2018-03-25 08:00:00', '2018-03-25 16:00:00',
               '2018-03-26 00:00:00', '2018-03-26 08:00:00',
               '2018-03-26 16:00:00', '2018-03-27 00:00:00',
               '2018-03-27 08:00:00', '2018-03-27 16:00:00',
               '2018-03-28 00:00:00', '2018-03-28 08:00:00',
               '2018-03-28 16:00:00', '2018-03-29 00:00:00',
               '2018-03-29 08:00:00', '2018-03-29 16:00:00',
               '2018-03-30 00:00:00', '2018-03-30 08:00:00',
               '2018-03-30 16:00:00', '2018-03-31 00:00:00',
               '2018-03-31 08:00:00', '2018-03-31 16:00:00',
               '2018-04-01 00:00:00', '2018-04-01 08:00:00',
               '2018-04-01 16:00:00', '2018-04-02 00:00:00',
               '2018-04-02 08:00:00', '2018-04-02 16:00:00',
               '2018-04-03 00:00:00', '2018-04-03 08:00:00',
               '2018-04-03 16:00:00', '2018-04-04 00:00:00',
               '2018-04-04 08:00:00', '2018-04-04 16:00:00',
               '2018-04-05 00:00:00', '2018-04-05 08:00:00',
               '2018-04-05 16:00:00', '2018-04-06 00:00:00',
               '2018-04-06 08:00:00', '2018-04-06 16:00:00',
               '2018-04-07 00:00:00', '2018-04-07 08:00:00',
               '2018-04-07 16:00:00', '2018-04-08 00:00:00',
               '2018-04-08 08:00:00', '2018-04-08 16:00:00',
               '2018-04-09 00:00:00', '2018-04-09 08:00:00',
               '2018-04-09 16:00:00', '2018-04-10 00:00:00',
               '2018-04-10 08:00:00', '2018-04-10 16:00:00',
               '2018-04-11 00:00:00', '2018-04-11 08:00:00',
               '2018-04-11 16:00:00', '2018-04-12 00:00:00',
               '2018-04-12 08:00:00', '2018-04-12 16:00:00',
               '2018-04-13 00:00:00', '2018-04-13 08:00:00',
               '2018-04-13 16:00:00', '2018-04-14 00:00:00',
               '2018-04-14 08:00:00', '2018-04-14 16:00:00',
               '2018-04-15 00:00:00', '2018-04-15 08:00:00',
               '2018-04-15 16:00:00', '2018-04-16 00:00:00',
               '2018-04-16 08:00:00', '2018-04-16 16:00:00',
               '2018-04-17 00:00:00', '2018-04-17 08:00:00',
               '2018-04-17 16:00:00', '2018-04-18 00:00:00',
               '2018-04-18 08:00:00', '2018-04-18 16:00:00',
               '2018-04-19 00:00:00', '2018-04-19 08:00:00',
               '2018-04-19 16:00:00', '2018-04-20 00:00:00'],
              dtype='datetime64[ns]', freq='8H')

## The .dt Accessor
Similar to working with strings .str.xxxxx.

In [34]:
# Create a DTIndex
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")
bunch_of_dates

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [35]:
# Next, create a pd Series of those dates. Each one is a pandas TS
s = pd.Series(data = bunch_of_dates)
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [37]:
# Want to extract the day. Can't just do s.day. Need to s.dt.day
s.dt.day  # returns a new series
s.dt.month  # can see which month is most common
s.dt.dayofweek  # Maybe what day of week stock performs best, or tours occur, etc.
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [42]:
mask_quarter = s.dt.is_quarter_start
s[mask_quarter]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [45]:
mask_month = s.dt.is_month_start
s[mask_month]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

## The pandas-datareader Library
Allows us to fetch dataset from the internet. Allows us to query an online datasource. Used to be part of pandas but it became so large that they split the development teams. Can pull from sources such as: FRED, World Bank, Morningstar, OECD Statistics, Eurostat, etc.

Install instructions: Open terminal > source activate root > conda install pandas-datareader

Documentation: https://pandas-datareader.readthedocs.io/en/latest/remote_data.html

## Import financial dataset with pandas_datareader Library

In [58]:
import pandas as pd
import datetime as dt
import pandas_datareader.data as web  # we can use web.xxxx 
# import pandas_datareader as pdr

In [71]:
# params for DataReader: name = the company you want to pull info "Stock Symbol"
# data_source = Yahoo, Google, etc.; start/end = date range
company = "TCEHY" # BABA, MSFT
start = "2010-01-01"
end = "2018-12-31"  # Future dates are fine

# Returns a DTIndex
stocks_tcehy = web.DataReader(name = company, data_source = "morningstar", start = start, end = end)
stocks_tcehy.head()
stocks_tcehy.dtypes
type(stocks_tcehy)

pandas.core.frame.DataFrame

In [63]:
stocks_tcehy.values

array([[4.344000e+00, 4.366000e+00, 4.320000e+00, 4.320000e+00,
        0.000000e+00],
       [4.416000e+00, 4.416000e+00, 4.366000e+00, 4.366000e+00,
        6.148000e+04],
       [4.452000e+00, 4.480000e+00, 4.410000e+00, 4.474000e+00,
        7.569000e+04],
       ...,
       [5.147000e+01, 5.174000e+01, 5.106000e+01, 5.129000e+01,
        3.168302e+06],
       [5.139000e+01, 5.174000e+01, 5.111000e+01, 5.173000e+01,
        1.996679e+06],
       [5.051000e+01, 5.106000e+01, 5.036000e+01, 5.104000e+01,
        2.961017e+06]])

In [64]:
stocks_tcehy.columns

Index(['Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [68]:
stocks_tcehy.index

MultiIndex(levels=[['TCEHY'], [2010-01-01 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00, 2010-01-06 00:00:00, 2010-01-07 00:00:00, 2010-01-08 00:00:00, 2010-01-11 00:00:00, 2010-01-12 00:00:00, 2010-01-13 00:00:00, 2010-01-14 00:00:00, 2010-01-15 00:00:00, 2010-01-18 00:00:00, 2010-01-19 00:00:00, 2010-01-20 00:00:00, 2010-01-21 00:00:00, 2010-01-22 00:00:00, 2010-01-25 00:00:00, 2010-01-26 00:00:00, 2010-01-27 00:00:00, 2010-01-28 00:00:00, 2010-01-29 00:00:00, 2010-02-01 00:00:00, 2010-02-02 00:00:00, 2010-02-03 00:00:00, 2010-02-04 00:00:00, 2010-02-05 00:00:00, 2010-02-08 00:00:00, 2010-02-09 00:00:00, 2010-02-10 00:00:00, 2010-02-11 00:00:00, 2010-02-12 00:00:00, 2010-02-15 00:00:00, 2010-02-16 00:00:00, 2010-02-17 00:00:00, 2010-02-18 00:00:00, 2010-02-19 00:00:00, 2010-02-22 00:00:00, 2010-02-23 00:00:00, 2010-02-24 00:00:00, 2010-02-25 00:00:00, 2010-02-26 00:00:00, 2010-03-01 00:00:00, 2010-03-02 00:00:00, 2010-03-03 00:00:00, 2010-03-04 00:00:00, 2010-03-05 00:00:00, 2010-03-08 00:00:00, 2010-03-09 00:00:00, 2010-03-10 00:00:00, 2010-03-11 00:00:00, 2010-03-12 00:00:00, 2010-03-15 00:00:00, 2010-03-16 00:00:00, 2010-03-17 00:00:00, 2010-03-18 00:00:00, 2010-03-19 00:00:00, 2010-03-22 00:00:00, 2010-03-23 00:00:00, 2010-03-24 00:00:00, 2010-03-25 00:00:00, 2010-03-26 00:00:00, 2010-03-29 00:00:00, 2010-03-30 00:00:00, 2010-03-31 00:00:00, 2010-04-01 00:00:00, 2010-04-02 00:00:00, 2010-04-05 00:00:00, 2010-04-06 00:00:00, 2010-04-07 00:00:00, 2010-04-08 00:00:00, 2010-04-09 00:00:00, 2010-04-12 00:00:00, 2010-04-13 00:00:00, 2010-04-14 00:00:00, 2010-04-15 00:00:00, 2010-04-16 00:00:00, 2010-04-19 00:00:00, 2010-04-20 00:00:00, 2010-04-21 00:00:00, 2010-04-22 00:00:00, 2010-04-23 00:00:00, 2010-04-26 00:00:00, 2010-04-27 00:00:00, 2010-04-28 00:00:00, 2010-04-29 00:00:00, 2010-04-30 00:00:00, 2010-05-03 00:00:00, 2010-05-04 00:00:00, 2010-05-05 00:00:00, 2010-05-06 00:00:00, 2010-05-07 00:00:00, 2010-05-10 00:00:00, 2010-05-11 00:00:00, 2010-05-12 00:00:00, 2010-05-13 00:00:00, 2010-05-14 00:00:00, 2010-05-17 00:00:00, 2010-05-18 00:00:00, 2010-05-19 00:00:00, 2010-05-20 00:00:00, 2010-05-21 00:00:00, 2010-05-24 00:00:00, 2010-05-25 00:00:00, 2010-05-26 00:00:00, 2010-05-27 00:00:00, 2010-05-28 00:00:00, 2010-05-31 00:00:00, 2010-06-01 00:00:00, 2010-06-02 00:00:00, 2010-06-03 00:00:00, 2010-06-04 00:00:00, 2010-06-07 00:00:00, 2010-06-08 00:00:00, 2010-06-09 00:00:00, 2010-06-10 00:00:00, 2010-06-11 00:00:00, 2010-06-14 00:00:00, 2010-06-15 00:00:00, 2010-06-16 00:00:00, 2010-06-17 00:00:00, 2010-06-18 00:00:00, 2010-06-21 00:00:00, 2010-06-22 00:00:00, 2010-06-23 00:00:00, 2010-06-24 00:00:00, 2010-06-25 00:00:00, 2010-06-28 00:00:00, 2010-06-29 00:00:00, 2010-06-30 00:00:00, 2010-07-01 00:00:00, 2010-07-02 00:00:00, 2010-07-05 00:00:00, 2010-07-06 00:00:00, 2010-07-07 00:00:00, 2010-07-08 00:00:00, 2010-07-09 00:00:00, 2010-07-12 00:00:00, 2010-07-13 00:00:00, 2010-07-14 00:00:00, 2010-07-15 00:00:00, 2010-07-16 00:00:00, 2010-07-19 00:00:00, 2010-07-20 00:00:00, 2010-07-21 00:00:00, 2010-07-22 00:00:00, 2010-07-23 00:00:00, 2010-07-26 00:00:00, 2010-07-27 00:00:00, 2010-07-28 00:00:00, 2010-07-29 00:00:00, 2010-07-30 00:00:00, 2010-08-02 00:00:00, 2010-08-03 00:00:00, 2010-08-04 00:00:00, 2010-08-05 00:00:00, 2010-08-06 00:00:00, 2010-08-09 00:00:00, 2010-08-10 00:00:00, 2010-08-11 00:00:00, 2010-08-12 00:00:00, 2010-08-13 00:00:00, 2010-08-16 00:00:00, 2010-08-17 00:00:00, 2010-08-18 00:00:00, 2010-08-19 00:00:00, 2010-08-20 00:00:00, 2010-08-23 00:00:00, 2010-08-24 00:00:00, 2010-08-25 00:00:00, 2010-08-26 00:00:00, 2010-08-27 00:00:00, 2010-08-30 00:00:00, 2010-08-31 00:00:00, 2010-09-01 00:00:00, 2010-09-02 00:00:00, 2010-09-03 00:00:00, 2010-09-06 00:00:00, 2010-09-07 00:00:00, 2010-09-08 00:00:00, 2010-09-09 00:00:00, 2010-09-10 00:00:00, 2010-09-13 00:00:00, 2010-09-14 00:00:00, 2010-09-15 00:00:00, 2010-09-16 00:00:00, 2010-09-17 00:00:00, 2010-09-20 00:00:00, 2010-09-21 00:00:00, 2010-09-22 00:00:00, 2010-09-23 00:00:00, 2010-09-24 00:00:00, 2010-09-27 00:00:00, 2010-09-28 00:00:00, 2010-09-29 00:00:00, 2010-09-30 00:00:00, 2010-10-01 00:00:00, 2010-10-04 00:00:00, 2010-10-05 00:00:00, 2010-10-06 00:00:00, 2010-10-07 00:00:00, 2010-10-08 00:00:00, 2010-10-11 00:00:00, 2010-10-12 00:00:00, 2010-10-13 00:00:00, 2010-10-14 00:00:00, 2010-10-15 00:00:00, 2010-10-18 00:00:00, 2010-10-19 00:00:00, 2010-10-20 00:00:00, 2010-10-21 00:00:00, 2010-10-22 00:00:00, 2010-10-25 00:00:00, 2010-10-26 00:00:00, 2010-10-27 00:00:00, 2010-10-28 00:00:00, 2010-10-29 00:00:00, 2010-11-01 00:00:00, 2010-11-02 00:00:00, 2010-11-03 00:00:00, 2010-11-04 00:00:00, 2010-11-05 00:00:00, 2010-11-08 00:00:00, 2010-11-09 00:00:00, 2010-11-10 00:00:00, 2010-11-11 00:00:00, 2010-11-12 00:00:00, 2010-11-15 00:00:00, 2010-11-16 00:00:00, 2010-11-17 00:00:00, 2010-11-18 00:00:00, 2010-11-19 00:00:00, 2010-11-22 00:00:00, 2010-11-23 00:00:00, 2010-11-24 00:00:00, 2010-11-25 00:00:00, 2010-11-26 00:00:00, 2010-11-29 00:00:00, 2010-11-30 00:00:00, 2010-12-01 00:00:00, 2010-12-02 00:00:00, 2010-12-03 00:00:00, 2010-12-06 00:00:00, 2010-12-07 00:00:00, 2010-12-08 00:00:00, 2010-12-09 00:00:00, 2010-12-10 00:00:00, 2010-12-13 00:00:00, 2010-12-14 00:00:00, 2010-12-15 00:00:00, 2010-12-16 00:00:00, 2010-12-17 00:00:00, 2010-12-20 00:00:00, 2010-12-21 00:00:00, 2010-12-22 00:00:00, 2010-12-23 00:00:00, 2010-12-24 00:00:00, 2010-12-27 00:00:00, 2010-12-28 00:00:00, 2010-12-29 00:00:00, 2010-12-30 00:00:00, 2010-12-31 00:00:00, 2011-01-03 00:00:00, 2011-01-04 00:00:00, 2011-01-05 00:00:00, 2011-01-06 00:00:00, 2011-01-07 00:00:00, 2011-01-10 00:00:00, 2011-01-11 00:00:00, 2011-01-12 00:00:00, 2011-01-13 00:00:00, 2011-01-14 00:00:00, 2011-01-17 00:00:00, 2011-01-18 00:00:00, 2011-01-19 00:00:00, 2011-01-20 00:00:00, 2011-01-21 00:00:00, 2011-01-24 00:00:00, 2011-01-25 00:00:00, 2011-01-26 00:00:00, 2011-01-27 00:00:00, 2011-01-28 00:00:00, 2011-01-31 00:00:00, 2011-02-01 00:00:00, 2011-02-02 00:00:00, 2011-02-03 00:00:00, 2011-02-04 00:00:00, 2011-02-07 00:00:00, 2011-02-08 00:00:00, 2011-02-09 00:00:00, 2011-02-10 00:00:00, 2011-02-11 00:00:00, 2011-02-14 00:00:00, 2011-02-15 00:00:00, 2011-02-16 00:00:00, 2011-02-17 00:00:00, 2011-02-18 00:00:00, 2011-02-21 00:00:00, 2011-02-22 00:00:00, 2011-02-23 00:00:00, 2011-02-24 00:00:00, 2011-02-25 00:00:00, 2011-02-28 00:00:00, 2011-03-01 00:00:00, 2011-03-02 00:00:00, 2011-03-03 00:00:00, 2011-03-04 00:00:00, 2011-03-07 00:00:00, 2011-03-08 00:00:00, 2011-03-09 00:00:00, 2011-03-10 00:00:00, 2011-03-11 00:00:00, 2011-03-14 00:00:00, 2011-03-15 00:00:00, 2011-03-16 00:00:00, 2011-03-17 00:00:00, 2011-03-18 00:00:00, 2011-03-21 00:00:00, 2011-03-22 00:00:00, 2011-03-23 00:00:00, 2011-03-24 00:00:00, 2011-03-25 00:00:00, 2011-03-28 00:00:00, 2011-03-29 00:00:00, 2011-03-30 00:00:00, 2011-03-31 00:00:00, 2011-04-01 00:00:00, 2011-04-04 00:00:00, 2011-04-05 00:00:00, 2011-04-06 00:00:00, 2011-04-07 00:00:00, 2011-04-08 00:00:00, 2011-04-11 00:00:00, 2011-04-12 00:00:00, 2011-04-13 00:00:00, 2011-04-14 00:00:00, 2011-04-15 00:00:00, 2011-04-18 00:00:00, 2011-04-19 00:00:00, 2011-04-20 00:00:00, 2011-04-21 00:00:00, 2011-04-22 00:00:00, 2011-04-25 00:00:00, 2011-04-26 00:00:00, 2011-04-27 00:00:00, 2011-04-28 00:00:00, 2011-04-29 00:00:00, 2011-05-02 00:00:00, 2011-05-03 00:00:00, 2011-05-04 00:00:00, 2011-05-05 00:00:00, 2011-05-06 00:00:00, 2011-05-09 00:00:00, 2011-05-10 00:00:00, 2011-05-11 00:00:00, 2011-05-12 00:00:00, 2011-05-13 00:00:00, 2011-05-16 00:00:00, 2011-05-17 00:00:00, 2011-05-18 00:00:00, 2011-05-19 00:00:00, 2011-05-20 00:00:00, 2011-05-23 00:00:00, 2011-05-24 00:00:00, 2011-05-25 00:00:00, 2011-05-26 00:00:00, 2011-05-27 00:00:00, 2011-05-30 00:00:00, 2011-05-31 00:00:00, 2011-06-01 00:00:00, 2011-06-02 00:00:00, 2011-06-03 00:00:00, 2011-06-06 00:00:00, 2011-06-07 00:00:00, 2011-06-08 00:00:00, 2011-06-09 00:00:00, 2011-06-10 00:00:00, 2011-06-13 00:00:00, 2011-06-14 00:00:00, 2011-06-15 00:00:00, 2011-06-16 00:00:00, 2011-06-17 00:00:00, 2011-06-20 00:00:00, 2011-06-21 00:00:00, 2011-06-22 00:00:00, 2011-06-23 00:00:00, 2011-06-24 00:00:00, 2011-06-27 00:00:00, 2011-06-28 00:00:00, 2011-06-29 00:00:00, 2011-06-30 00:00:00, 2011-07-01 00:00:00, 2011-07-04 00:00:00, 2011-07-05 00:00:00, 2011-07-06 00:00:00, 2011-07-07 00:00:00, 2011-07-08 00:00:00, 2011-07-11 00:00:00, 2011-07-12 00:00:00, 2011-07-13 00:00:00, 2011-07-14 00:00:00, 2011-07-15 00:00:00, 2011-07-18 00:00:00, 2011-07-19 00:00:00, 2011-07-20 00:00:00, 2011-07-21 00:00:00, 2011-07-22 00:00:00, 2011-07-25 00:00:00, 2011-07-26 00:00:00, 2011-07-27 00:00:00, 2011-07-28 00:00:00, 2011-07-29 00:00:00, 2011-08-01 00:00:00, 2011-08-02 00:00:00, 2011-08-03 00:00:00, 2011-08-04 00:00:00, 2011-08-05 00:00:00, 2011-08-08 00:00:00, 2011-08-09 00:00:00, 2011-08-10 00:00:00, 2011-08-11 00:00:00, 2011-08-12 00:00:00, 2011-08-15 00:00:00, 2011-08-16 00:00:00, 2011-08-17 00:00:00, 2011-08-18 00:00:00, 2011-08-19 00:00:00, 2011-08-22 00:00:00, 2011-08-23 00:00:00, 2011-08-24 00:00:00, 2011-08-25 00:00:00, 2011-08-26 00:00:00, 2011-08-29 00:00:00, 2011-08-30 00:00:00, 2011-08-31 00:00:00, 2011-09-01 00:00:00, 2011-09-02 00:00:00, 2011-09-05 00:00:00, 2011-09-06 00:00:00, 2011-09-07 00:00:00, 2011-09-08 00:00:00, 2011-09-09 00:00:00, 2011-09-12 00:00:00, 2011-09-13 00:00:00, 2011-09-14 00:00:00, 2011-09-15 00:00:00, 2011-09-16 00:00:00, 2011-09-19 00:00:00, 2011-09-20 00:00:00, 2011-09-21 00:00:00, 2011-09-22 00:00:00, 2011-09-23 00:00:00, 2011-09-26 00:00:00, 2011-09-27 00:00:00, 2011-09-28 00:00:00, 2011-09-29 00:00:00, 2011-09-30 00:00:00, 2011-10-03 00:00:00, 2011-10-04 00:00:00, 2011-10-05 00:00:00, 2011-10-06 00:00:00, 2011-10-07 00:00:00, 2011-10-10 00:00:00, 2011-10-11 00:00:00, 2011-10-12 00:00:00, 2011-10-13 00:00:00, 2011-10-14 00:00:00, 2011-10-17 00:00:00, 2011-10-18 00:00:00, 2011-10-19 00:00:00, 2011-10-20 00:00:00, 2011-10-21 00:00:00, 2011-10-24 00:00:00, 2011-10-25 00:00:00, 2011-10-26 00:00:00, 2011-10-27 00:00:00, 2011-10-28 00:00:00, 2011-10-31 00:00:00, 2011-11-01 00:00:00, 2011-11-02 00:00:00, 2011-11-03 00:00:00, 2011-11-04 00:00:00, 2011-11-07 00:00:00, 2011-11-08 00:00:00, 2011-11-09 00:00:00, 2011-11-10 00:00:00, 2011-11-11 00:00:00, 2011-11-14 00:00:00, 2011-11-15 00:00:00, 2011-11-16 00:00:00, 2011-11-17 00:00:00, 2011-11-18 00:00:00, 2011-11-21 00:00:00, 2011-11-22 00:00:00, 2011-11-23 00:00:00, 2011-11-24 00:00:00, 2011-11-25 00:00:00, 2011-11-28 00:00:00, 2011-11-29 00:00:00, 2011-11-30 00:00:00, 2011-12-01 00:00:00, 2011-12-02 00:00:00, 2011-12-05 00:00:00, 2011-12-06 00:00:00, 2011-12-07 00:00:00, 2011-12-08 00:00:00, 2011-12-09 00:00:00, 2011-12-12 00:00:00, 2011-12-13 00:00:00, 2011-12-14 00:00:00, 2011-12-15 00:00:00, 2011-12-16 00:00:00, 2011-12-19 00:00:00, 2011-12-20 00:00:00, 2011-12-21 00:00:00, 2011-12-22 00:00:00, 2011-12-23 00:00:00, 2011-12-26 00:00:00, 2011-12-27 00:00:00, 2011-12-28 00:00:00, 2011-12-29 00:00:00, 2011-12-30 00:00:00, 2012-01-02 00:00:00, 2012-01-03 00:00:00, 2012-01-04 00:00:00, 2012-01-05 00:00:00, 2012-01-06 00:00:00, 2012-01-09 00:00:00, 2012-01-10 00:00:00, 2012-01-11 00:00:00, 2012-01-12 00:00:00, 2012-01-13 00:00:00, 2012-01-16 00:00:00, 2012-01-17 00:00:00, 2012-01-18 00:00:00, 2012-01-19 00:00:00, 2012-01-20 00:00:00, 2012-01-23 00:00:00, 2012-01-24 00:00:00, 2012-01-25 00:00:00, 2012-01-26 00:00:00, 2012-01-27 00:00:00, 2012-01-30 00:00:00, 2012-01-31 00:00:00, 2012-02-01 00:00:00, 2012-02-02 00:00:00, 2012-02-03 00:00:00, 2012-02-06 00:00:00, 2012-02-07 00:00:00, 2012-02-08 00:00:00, 2012-02-09 00:00:00, 2012-02-10 00:00:00, 2012-02-13 00:00:00, 2012-02-14 00:00:00, 2012-02-15 00:00:00, 2012-02-16 00:00:00, 2012-02-17 00:00:00, 2012-02-20 00:00:00, 2012-02-21 00:00:00, 2012-02-22 00:00:00, 2012-02-23 00:00:00, 2012-02-24 00:00:00, 2012-02-27 00:00:00, 2012-02-28 00:00:00, 2012-02-29 00:00:00, 2012-03-01 00:00:00, 2012-03-02 00:00:00, 2012-03-05 00:00:00, 2012-03-06 00:00:00, 2012-03-07 00:00:00, 2012-03-08 00:00:00, 2012-03-09 00:00:00, 2012-03-12 00:00:00, 2012-03-13 00:00:00, 2012-03-14 00:00:00, 2012-03-15 00:00:00, 2012-03-16 00:00:00, 2012-03-19 00:00:00, 2012-03-20 00:00:00, 2012-03-21 00:00:00, 2012-03-22 00:00:00, 2012-03-23 00:00:00, 2012-03-26 00:00:00, 2012-03-27 00:00:00, 2012-03-28 00:00:00, 2012-03-29 00:00:00, 2012-03-30 00:00:00, 2012-04-02 00:00:00, 2012-04-03 00:00:00, 2012-04-04 00:00:00, 2012-04-05 00:00:00, 2012-04-06 00:00:00, 2012-04-09 00:00:00, 2012-04-10 00:00:00, 2012-04-11 00:00:00, 2012-04-12 00:00:00, 2012-04-13 00:00:00, 2012-04-16 00:00:00, 2012-04-17 00:00:00, 2012-04-18 00:00:00, 2012-04-19 00:00:00, 2012-04-20 00:00:00, 2012-04-23 00:00:00, 2012-04-24 00:00:00, 2012-04-25 00:00:00, 2012-04-26 00:00:00, 2012-04-27 00:00:00, 2012-04-30 00:00:00, 2012-05-01 00:00:00, 2012-05-02 00:00:00, 2012-05-03 00:00:00, 2012-05-04 00:00:00, 2012-05-07 00:00:00, 2012-05-08 00:00:00, 2012-05-09 00:00:00, 2012-05-10 00:00:00, 2012-05-11 00:00:00, 2012-05-14 00:00:00, 2012-05-15 00:00:00, 2012-05-16 00:00:00, 2012-05-17 00:00:00, 2012-05-18 00:00:00, 2012-05-21 00:00:00, 2012-05-22 00:00:00, 2012-05-23 00:00:00, 2012-05-24 00:00:00, 2012-05-25 00:00:00, 2012-05-28 00:00:00, 2012-05-29 00:00:00, 2012-05-30 00:00:00, 2012-05-31 00:00:00, 2012-06-01 00:00:00, 2012-06-04 00:00:00, 2012-06-05 00:00:00, 2012-06-06 00:00:00, 2012-06-07 00:00:00, 2012-06-08 00:00:00, 2012-06-11 00:00:00, 2012-06-12 00:00:00, 2012-06-13 00:00:00, 2012-06-14 00:00:00, 2012-06-15 00:00:00, 2012-06-18 00:00:00, 2012-06-19 00:00:00, 2012-06-20 00:00:00, 2012-06-21 00:00:00, 2012-06-22 00:00:00, 2012-06-25 00:00:00, 2012-06-26 00:00:00, 2012-06-27 00:00:00, 2012-06-28 00:00:00, 2012-06-29 00:00:00, 2012-07-02 00:00:00, 2012-07-03 00:00:00, 2012-07-04 00:00:00, 2012-07-05 00:00:00, 2012-07-06 00:00:00, 2012-07-09 00:00:00, 2012-07-10 00:00:00, 2012-07-11 00:00:00, 2012-07-12 00:00:00, 2012-07-13 00:00:00, 2012-07-16 00:00:00, 2012-07-17 00:00:00, 2012-07-18 00:00:00, 2012-07-19 00:00:00, 2012-07-20 00:00:00, 2012-07-23 00:00:00, 2012-07-24 00:00:00, 2012-07-25 00:00:00, 2012-07-26 00:00:00, 2012-07-27 00:00:00, 2012-07-30 00:00:00, 2012-07-31 00:00:00, 2012-08-01 00:00:00, 2012-08-02 00:00:00, 2012-08-03 00:00:00, 2012-08-06 00:00:00, 2012-08-07 00:00:00, 2012-08-08 00:00:00, 2012-08-09 00:00:00, 2012-08-10 00:00:00, 2012-08-13 00:00:00, 2012-08-14 00:00:00, 2012-08-15 00:00:00, 2012-08-16 00:00:00, 2012-08-17 00:00:00, 2012-08-20 00:00:00, 2012-08-21 00:00:00, 2012-08-22 00:00:00, 2012-08-23 00:00:00, 2012-08-24 00:00:00, 2012-08-27 00:00:00, 2012-08-28 00:00:00, 2012-08-29 00:00:00, 2012-08-30 00:00:00, 2012-08-31 00:00:00, 2012-09-03 00:00:00, 2012-09-04 00:00:00, 2012-09-05 00:00:00, 2012-09-06 00:00:00, 2012-09-07 00:00:00, 2012-09-10 00:00:00, 2012-09-11 00:00:00, 2012-09-12 00:00:00, 2012-09-13 00:00:00, 2012-09-14 00:00:00, 2012-09-17 00:00:00, 2012-09-18 00:00:00, 2012-09-19 00:00:00, 2012-09-20 00:00:00, 2012-09-21 00:00:00, 2012-09-24 00:00:00, 2012-09-25 00:00:00, 2012-09-26 00:00:00, 2012-09-27 00:00:00, 2012-09-28 00:00:00, 2012-10-01 00:00:00, 2012-10-02 00:00:00, 2012-10-03 00:00:00, 2012-10-04 00:00:00, 2012-10-05 00:00:00, 2012-10-08 00:00:00, 2012-10-09 00:00:00, 2012-10-10 00:00:00, 2012-10-11 00:00:00, 2012-10-12 00:00:00, 2012-10-15 00:00:00, 2012-10-16 00:00:00, 2012-10-17 00:00:00, 2012-10-18 00:00:00, 2012-10-19 00:00:00, 2012-10-22 00:00:00, 2012-10-23 00:00:00, 2012-10-24 00:00:00, 2012-10-25 00:00:00, 2012-10-26 00:00:00, 2012-10-29 00:00:00, 2012-10-30 00:00:00, 2012-10-31 00:00:00, 2012-11-01 00:00:00, 2012-11-02 00:00:00, 2012-11-05 00:00:00, 2012-11-06 00:00:00, 2012-11-07 00:00:00, 2012-11-08 00:00:00, 2012-11-09 00:00:00, 2012-11-12 00:00:00, 2012-11-13 00:00:00, 2012-11-14 00:00:00, 2012-11-15 00:00:00, 2012-11-16 00:00:00, 2012-11-19 00:00:00, 2012-11-20 00:00:00, 2012-11-21 00:00:00, 2012-11-22 00:00:00, 2012-11-23 00:00:00, 2012-11-26 00:00:00, 2012-11-27 00:00:00, 2012-11-28 00:00:00, 2012-11-29 00:00:00, 2012-11-30 00:00:00, 2012-12-03 00:00:00, 2012-12-04 00:00:00, 2012-12-05 00:00:00, 2012-12-06 00:00:00, 2012-12-07 00:00:00, 2012-12-10 00:00:00, 2012-12-11 00:00:00, 2012-12-12 00:00:00, 2012-12-13 00:00:00, 2012-12-14 00:00:00, 2012-12-17 00:00:00, 2012-12-18 00:00:00, 2012-12-19 00:00:00, 2012-12-20 00:00:00, 2012-12-21 00:00:00, 2012-12-24 00:00:00, 2012-12-25 00:00:00, 2012-12-26 00:00:00, 2012-12-27 00:00:00, 2012-12-28 00:00:00, 2012-12-31 00:00:00, 2013-01-01 00:00:00, 2013-01-02 00:00:00, 2013-01-03 00:00:00, 2013-01-04 00:00:00, 2013-01-07 00:00:00, 2013-01-08 00:00:00, 2013-01-09 00:00:00, 2013-01-10 00:00:00, 2013-01-11 00:00:00, 2013-01-14 00:00:00, 2013-01-15 00:00:00, 2013-01-16 00:00:00, 2013-01-17 00:00:00, 2013-01-18 00:00:00, 2013-01-21 00:00:00, 2013-01-22 00:00:00, 2013-01-23 00:00:00, 2013-01-24 00:00:00, 2013-01-25 00:00:00, 2013-01-28 00:00:00, 2013-01-29 00:00:00, 2013-01-30 00:00:00, 2013-01-31 00:00:00, 2013-02-01 00:00:00, 2013-02-04 00:00:00, 2013-02-05 00:00:00, 2013-02-06 00:00:00, 2013-02-07 00:00:00, 2013-02-08 00:00:00, 2013-02-11 00:00:00, 2013-02-12 00:00:00, 2013-02-13 00:00:00, 2013-02-14 00:00:00, 2013-02-15 00:00:00, 2013-02-18 00:00:00, 2013-02-19 00:00:00, 2013-02-20 00:00:00, 2013-02-21 00:00:00, 2013-02-22 00:00:00, 2013-02-25 00:00:00, 2013-02-26 00:00:00, 2013-02-27 00:00:00, 2013-02-28 00:00:00, 2013-03-01 00:00:00, 2013-03-04 00:00:00, 2013-03-05 00:00:00, 2013-03-06 00:00:00, 2013-03-07 00:00:00, 2013-03-08 00:00:00, 2013-03-11 00:00:00, 2013-03-12 00:00:00, 2013-03-13 00:00:00, 2013-03-14 00:00:00, 2013-03-15 00:00:00, 2013-03-18 00:00:00, 2013-03-19 00:00:00, 2013-03-20 00:00:00, 2013-03-21 00:00:00, 2013-03-22 00:00:00, 2013-03-25 00:00:00, 2013-03-26 00:00:00, 2013-03-27 00:00:00, 2013-03-28 00:00:00, 2013-03-29 00:00:00, 2013-04-01 00:00:00, 2013-04-02 00:00:00, 2013-04-03 00:00:00, 2013-04-04 00:00:00, 2013-04-05 00:00:00, 2013-04-08 00:00:00, 2013-04-09 00:00:00, 2013-04-10 00:00:00, 2013-04-11 00:00:00, 2013-04-12 00:00:00, 2013-04-15 00:00:00, 2013-04-16 00:00:00, 2013-04-17 00:00:00, 2013-04-18 00:00:00, 2013-04-19 00:00:00, 2013-04-22 00:00:00, 2013-04-23 00:00:00, 2013-04-24 00:00:00, 2013-04-25 00:00:00, 2013-04-26 00:00:00, 2013-04-29 00:00:00, 2013-04-30 00:00:00, 2013-05-01 00:00:00, 2013-05-02 00:00:00, 2013-05-03 00:00:00, 2013-05-06 00:00:00, 2013-05-07 00:00:00, 2013-05-08 00:00:00, 2013-05-09 00:00:00, 2013-05-10 00:00:00, 2013-05-13 00:00:00, 2013-05-14 00:00:00, 2013-05-15 00:00:00, 2013-05-16 00:00:00, 2013-05-17 00:00:00, 2013-05-20 00:00:00, 2013-05-21 00:00:00, 2013-05-22 00:00:00, 2013-05-23 00:00:00, 2013-05-24 00:00:00, 2013-05-27 00:00:00, 2013-05-28 00:00:00, 2013-05-29 00:00:00, 2013-05-30 00:00:00, 2013-05-31 00:00:00, 2013-06-03 00:00:00, 2013-06-04 00:00:00, 2013-06-05 00:00:00, 2013-06-06 00:00:00, 2013-06-07 00:00:00, 2013-06-10 00:00:00, 2013-06-11 00:00:00, 2013-06-12 00:00:00, 2013-06-13 00:00:00, 2013-06-14 00:00:00, 2013-06-17 00:00:00, 2013-06-18 00:00:00, 2013-06-19 00:00:00, 2013-06-20 00:00:00, 2013-06-21 00:00:00, 2013-06-24 00:00:00, 2013-06-25 00:00:00, 2013-06-26 00:00:00, 2013-06-27 00:00:00, 2013-06-28 00:00:00, 2013-07-01 00:00:00, 2013-07-02 00:00:00, 2013-07-03 00:00:00, 2013-07-04 00:00:00, 2013-07-05 00:00:00, 2013-07-08 00:00:00, 2013-07-09 00:00:00, 2013-07-10 00:00:00, 2013-07-11 00:00:00, 2013-07-12 00:00:00, 2013-07-15 00:00:00, 2013-07-16 00:00:00, 2013-07-17 00:00:00, 2013-07-18 00:00:00, 2013-07-19 00:00:00, 2013-07-22 00:00:00, 2013-07-23 00:00:00, 2013-07-24 00:00:00, 2013-07-25 00:00:00, 2013-07-26 00:00:00, 2013-07-29 00:00:00, 2013-07-30 00:00:00, 2013-07-31 00:00:00, 2013-08-01 00:00:00, 2013-08-02 00:00:00, 2013-08-05 00:00:00, 2013-08-06 00:00:00, 2013-08-07 00:00:00, 2013-08-08 00:00:00, 2013-08-09 00:00:00, 2013-08-12 00:00:00, 2013-08-13 00:00:00, 2013-08-14 00:00:00, 2013-08-15 00:00:00, 2013-08-16 00:00:00, 2013-08-19 00:00:00, 2013-08-20 00:00:00, 2013-08-21 00:00:00, 2013-08-22 00:00:00, 2013-08-23 00:00:00

In [69]:
stocks_tcehy.axes

[MultiIndex(levels=[['TCEHY'], [2010-01-01 00:00:00, 2010-01-04 00:00:00, 2010-01-05 00:00:00, 2010-01-06 00:00:00, 2010-01-07 00:00:00, 2010-01-08 00:00:00, 2010-01-11 00:00:00, 2010-01-12 00:00:00, 2010-01-13 00:00:00, 2010-01-14 00:00:00, 2010-01-15 00:00:00, 2010-01-18 00:00:00, 2010-01-19 00:00:00, 2010-01-20 00:00:00, 2010-01-21 00:00:00, 2010-01-22 00:00:00, 2010-01-25 00:00:00, 2010-01-26 00:00:00, 2010-01-27 00:00:00, 2010-01-28 00:00:00, 2010-01-29 00:00:00, 2010-02-01 00:00:00, 2010-02-02 00:00:00, 2010-02-03 00:00:00, 2010-02-04 00:00:00, 2010-02-05 00:00:00, 2010-02-08 00:00:00, 2010-02-09 00:00:00, 2010-02-10 00:00:00, 2010-02-11 00:00:00, 2010-02-12 00:00:00, 2010-02-15 00:00:00, 2010-02-16 00:00:00, 2010-02-17 00:00:00, 2010-02-18 00:00:00, 2010-02-19 00:00:00, 2010-02-22 00:00:00, 2010-02-23 00:00:00, 2010-02-24 00:00:00, 2010-02-25 00:00:00, 2010-02-26 00:00:00, 2010-03-01 00:00:00, 2010-03-02 00:00:00, 2010-03-03 00:00:00, 2010-03-04 00:00:00, 2010-03-05 00:00:00, 2010-03-08 00:00:00, 2010-03-09 00:00:00, 2010-03-10 00:00:00, 2010-03-11 00:00:00, 2010-03-12 00:00:00, 2010-03-15 00:00:00, 2010-03-16 00:00:00, 2010-03-17 00:00:00, 2010-03-18 00:00:00, 2010-03-19 00:00:00, 2010-03-22 00:00:00, 2010-03-23 00:00:00, 2010-03-24 00:00:00, 2010-03-25 00:00:00, 2010-03-26 00:00:00, 2010-03-29 00:00:00, 2010-03-30 00:00:00, 2010-03-31 00:00:00, 2010-04-01 00:00:00, 2010-04-02 00:00:00, 2010-04-05 00:00:00, 2010-04-06 00:00:00, 2010-04-07 00:00:00, 2010-04-08 00:00:00, 2010-04-09 00:00:00, 2010-04-12 00:00:00, 2010-04-13 00:00:00, 2010-04-14 00:00:00, 2010-04-15 00:00:00, 2010-04-16 00:00:00, 2010-04-19 00:00:00, 2010-04-20 00:00:00, 2010-04-21 00:00:00, 2010-04-22 00:00:00, 2010-04-23 00:00:00, 2010-04-26 00:00:00, 2010-04-27 00:00:00, 2010-04-28 00:00:00, 2010-04-29 00:00:00, 2010-04-30 00:00:00, 2010-05-03 00:00:00, 2010-05-04 00:00:00, 2010-05-05 00:00:00, 2010-05-06 00:00:00, 2010-05-07 00:00:00, 2010-05-10 00:00:00, 2010-05-11 00:00:00, 2010-05-12 00:00:00, 2010-05-13 00:00:00, 2010-05-14 00:00:00, 2010-05-17 00:00:00, 2010-05-18 00:00:00, 2010-05-19 00:00:00, 2010-05-20 00:00:00, 2010-05-21 00:00:00, 2010-05-24 00:00:00, 2010-05-25 00:00:00, 2010-05-26 00:00:00, 2010-05-27 00:00:00, 2010-05-28 00:00:00, 2010-05-31 00:00:00, 2010-06-01 00:00:00, 2010-06-02 00:00:00, 2010-06-03 00:00:00, 2010-06-04 00:00:00, 2010-06-07 00:00:00, 2010-06-08 00:00:00, 2010-06-09 00:00:00, 2010-06-10 00:00:00, 2010-06-11 00:00:00, 2010-06-14 00:00:00, 2010-06-15 00:00:00, 2010-06-16 00:00:00, 2010-06-17 00:00:00, 2010-06-18 00:00:00, 2010-06-21 00:00:00, 2010-06-22 00:00:00, 2010-06-23 00:00:00, 2010-06-24 00:00:00, 2010-06-25 00:00:00, 2010-06-28 00:00:00, 2010-06-29 00:00:00, 2010-06-30 00:00:00, 2010-07-01 00:00:00, 2010-07-02 00:00:00, 2010-07-05 00:00:00, 2010-07-06 00:00:00, 2010-07-07 00:00:00, 2010-07-08 00:00:00, 2010-07-09 00:00:00, 2010-07-12 00:00:00, 2010-07-13 00:00:00, 2010-07-14 00:00:00, 2010-07-15 00:00:00, 2010-07-16 00:00:00, 2010-07-19 00:00:00, 2010-07-20 00:00:00, 2010-07-21 00:00:00, 2010-07-22 00:00:00, 2010-07-23 00:00:00, 2010-07-26 00:00:00, 2010-07-27 00:00:00, 2010-07-28 00:00:00, 2010-07-29 00:00:00, 2010-07-30 00:00:00, 2010-08-02 00:00:00, 2010-08-03 00:00:00, 2010-08-04 00:00:00, 2010-08-05 00:00:00, 2010-08-06 00:00:00, 2010-08-09 00:00:00, 2010-08-10 00:00:00, 2010-08-11 00:00:00, 2010-08-12 00:00:00, 2010-08-13 00:00:00, 2010-08-16 00:00:00, 2010-08-17 00:00:00, 2010-08-18 00:00:00, 2010-08-19 00:00:00, 2010-08-20 00:00:00, 2010-08-23 00:00:00, 2010-08-24 00:00:00, 2010-08-25 00:00:00, 2010-08-26 00:00:00, 2010-08-27 00:00:00, 2010-08-30 00:00:00, 2010-08-31 00:00:00, 2010-09-01 00:00:00, 2010-09-02 00:00:00, 2010-09-03 00:00:00, 2010-09-06 00:00:00, 2010-09-07 00:00:00, 2010-09-08 00:00:00, 2010-09-09 00:00:00, 2010-09-10 00:00:00, 2010-09-13 00:00:00, 2010-09-14 00:00:00, 2010-09-15 00:00:00, 2010-09-16 00:00:00, 2010-09-17 00:00:00, 2010-09-20 00:00:00, 2010-09-21 00:00:00, 2010-09-22 00:00:00, 2010-09-23 00:00:00, 2010-09-24 00:00:00, 2010-09-27 00:00:00, 2010-09-28 00:00:00, 2010-09-29 00:00:00, 2010-09-30 00:00:00, 2010-10-01 00:00:00, 2010-10-04 00:00:00, 2010-10-05 00:00:00, 2010-10-06 00:00:00, 2010-10-07 00:00:00, 2010-10-08 00:00:00, 2010-10-11 00:00:00, 2010-10-12 00:00:00, 2010-10-13 00:00:00, 2010-10-14 00:00:00, 2010-10-15 00:00:00, 2010-10-18 00:00:00, 2010-10-19 00:00:00, 2010-10-20 00:00:00, 2010-10-21 00:00:00, 2010-10-22 00:00:00, 2010-10-25 00:00:00, 2010-10-26 00:00:00, 2010-10-27 00:00:00, 2010-10-28 00:00:00, 2010-10-29 00:00:00, 2010-11-01 00:00:00, 2010-11-02 00:00:00, 2010-11-03 00:00:00, 2010-11-04 00:00:00, 2010-11-05 00:00:00, 2010-11-08 00:00:00, 2010-11-09 00:00:00, 2010-11-10 00:00:00, 2010-11-11 00:00:00, 2010-11-12 00:00:00, 2010-11-15 00:00:00, 2010-11-16 00:00:00, 2010-11-17 00:00:00, 2010-11-18 00:00:00, 2010-11-19 00:00:00, 2010-11-22 00:00:00, 2010-11-23 00:00:00, 2010-11-24 00:00:00, 2010-11-25 00:00:00, 2010-11-26 00:00:00, 2010-11-29 00:00:00, 2010-11-30 00:00:00, 2010-12-01 00:00:00, 2010-12-02 00:00:00, 2010-12-03 00:00:00, 2010-12-06 00:00:00, 2010-12-07 00:00:00, 2010-12-08 00:00:00, 2010-12-09 00:00:00, 2010-12-10 00:00:00, 2010-12-13 00:00:00, 2010-12-14 00:00:00, 2010-12-15 00:00:00, 2010-12-16 00:00:00, 2010-12-17 00:00:00, 2010-12-20 00:00:00, 2010-12-21 00:00:00, 2010-12-22 00:00:00, 2010-12-23 00:00:00, 2010-12-24 00:00:00, 2010-12-27 00:00:00, 2010-12-28 00:00:00, 2010-12-29 00:00:00, 2010-12-30 00:00:00, 2010-12-31 00:00:00, 2011-01-03 00:00:00, 2011-01-04 00:00:00, 2011-01-05 00:00:00, 2011-01-06 00:00:00, 2011-01-07 00:00:00, 2011-01-10 00:00:00, 2011-01-11 00:00:00, 2011-01-12 00:00:00, 2011-01-13 00:00:00, 2011-01-14 00:00:00, 2011-01-17 00:00:00, 2011-01-18 00:00:00, 2011-01-19 00:00:00, 2011-01-20 00:00:00, 2011-01-21 00:00:00, 2011-01-24 00:00:00, 2011-01-25 00:00:00, 2011-01-26 00:00:00, 2011-01-27 00:00:00, 2011-01-28 00:00:00, 2011-01-31 00:00:00, 2011-02-01 00:00:00, 2011-02-02 00:00:00, 2011-02-03 00:00:00, 2011-02-04 00:00:00, 2011-02-07 00:00:00, 2011-02-08 00:00:00, 2011-02-09 00:00:00, 2011-02-10 00:00:00, 2011-02-11 00:00:00, 2011-02-14 00:00:00, 2011-02-15 00:00:00, 2011-02-16 00:00:00, 2011-02-17 00:00:00, 2011-02-18 00:00:00, 2011-02-21 00:00:00, 2011-02-22 00:00:00, 2011-02-23 00:00:00, 2011-02-24 00:00:00, 2011-02-25 00:00:00, 2011-02-28 00:00:00, 2011-03-01 00:00:00, 2011-03-02 00:00:00, 2011-03-03 00:00:00, 2011-03-04 00:00:00, 2011-03-07 00:00:00, 2011-03-08 00:00:00, 2011-03-09 00:00:00, 2011-03-10 00:00:00, 2011-03-11 00:00:00, 2011-03-14 00:00:00, 2011-03-15 00:00:00, 2011-03-16 00:00:00, 2011-03-17 00:00:00, 2011-03-18 00:00:00, 2011-03-21 00:00:00, 2011-03-22 00:00:00, 2011-03-23 00:00:00, 2011-03-24 00:00:00, 2011-03-25 00:00:00, 2011-03-28 00:00:00, 2011-03-29 00:00:00, 2011-03-30 00:00:00, 2011-03-31 00:00:00, 2011-04-01 00:00:00, 2011-04-04 00:00:00, 2011-04-05 00:00:00, 2011-04-06 00:00:00, 2011-04-07 00:00:00, 2011-04-08 00:00:00, 2011-04-11 00:00:00, 2011-04-12 00:00:00, 2011-04-13 00:00:00, 2011-04-14 00:00:00, 2011-04-15 00:00:00, 2011-04-18 00:00:00, 2011-04-19 00:00:00, 2011-04-20 00:00:00, 2011-04-21 00:00:00, 2011-04-22 00:00:00, 2011-04-25 00:00:00, 2011-04-26 00:00:00, 2011-04-27 00:00:00, 2011-04-28 00:00:00, 2011-04-29 00:00:00, 2011-05-02 00:00:00, 2011-05-03 00:00:00, 2011-05-04 00:00:00, 2011-05-05 00:00:00, 2011-05-06 00:00:00, 2011-05-09 00:00:00, 2011-05-10 00:00:00, 2011-05-11 00:00:00, 2011-05-12 00:00:00, 2011-05-13 00:00:00, 2011-05-16 00:00:00, 2011-05-17 00:00:00, 2011-05-18 00:00:00, 2011-05-19 00:00:00, 2011-05-20 00:00:00, 2011-05-23 00:00:00, 2011-05-24 00:00:00, 2011-05-25 00:00:00, 2011-05-26 00:00:00, 2011-05-27 00:00:00, 2011-05-30 00:00:00, 2011-05-31 00:00:00, 2011-06-01 00:00:00, 2011-06-02 00:00:00, 2011-06-03 00:00:00, 2011-06-06 00:00:00, 2011-06-07 00:00:00, 2011-06-08 00:00:00, 2011-06-09 00:00:00, 2011-06-10 00:00:00, 2011-06-13 00:00:00, 2011-06-14 00:00:00, 2011-06-15 00:00:00, 2011-06-16 00:00:00, 2011-06-17 00:00:00, 2011-06-20 00:00:00, 2011-06-21 00:00:00, 2011-06-22 00:00:00, 2011-06-23 00:00:00, 2011-06-24 00:00:00, 2011-06-27 00:00:00, 2011-06-28 00:00:00, 2011-06-29 00:00:00, 2011-06-30 00:00:00, 2011-07-01 00:00:00, 2011-07-04 00:00:00, 2011-07-05 00:00:00, 2011-07-06 00:00:00, 2011-07-07 00:00:00, 2011-07-08 00:00:00, 2011-07-11 00:00:00, 2011-07-12 00:00:00, 2011-07-13 00:00:00, 2011-07-14 00:00:00, 2011-07-15 00:00:00, 2011-07-18 00:00:00, 2011-07-19 00:00:00, 2011-07-20 00:00:00, 2011-07-21 00:00:00, 2011-07-22 00:00:00, 2011-07-25 00:00:00, 2011-07-26 00:00:00, 2011-07-27 00:00:00, 2011-07-28 00:00:00, 2011-07-29 00:00:00, 2011-08-01 00:00:00, 2011-08-02 00:00:00, 2011-08-03 00:00:00, 2011-08-04 00:00:00, 2011-08-05 00:00:00, 2011-08-08 00:00:00, 2011-08-09 00:00:00, 2011-08-10 00:00:00, 2011-08-11 00:00:00, 2011-08-12 00:00:00, 2011-08-15 00:00:00, 2011-08-16 00:00:00, 2011-08-17 00:00:00, 2011-08-18 00:00:00, 2011-08-19 00:00:00, 2011-08-22 00:00:00, 2011-08-23 00:00:00, 2011-08-24 00:00:00, 2011-08-25 00:00:00, 2011-08-26 00:00:00, 2011-08-29 00:00:00, 2011-08-30 00:00:00, 2011-08-31 00:00:00, 2011-09-01 00:00:00, 2011-09-02 00:00:00, 2011-09-05 00:00:00, 2011-09-06 00:00:00, 2011-09-07 00:00:00, 2011-09-08 00:00:00, 2011-09-09 00:00:00, 2011-09-12 00:00:00, 2011-09-13 00:00:00, 2011-09-14 00:00:00, 2011-09-15 00:00:00, 2011-09-16 00:00:00, 2011-09-19 00:00:00, 2011-09-20 00:00:00, 2011-09-21 00:00:00, 2011-09-22 00:00:00, 2011-09-23 00:00:00, 2011-09-26 00:00:00, 2011-09-27 00:00:00, 2011-09-28 00:00:00, 2011-09-29 00:00:00, 2011-09-30 00:00:00, 2011-10-03 00:00:00, 2011-10-04 00:00:00, 2011-10-05 00:00:00, 2011-10-06 00:00:00, 2011-10-07 00:00:00, 2011-10-10 00:00:00, 2011-10-11 00:00:00, 2011-10-12 00:00:00, 2011-10-13 00:00:00, 2011-10-14 00:00:00, 2011-10-17 00:00:00, 2011-10-18 00:00:00, 2011-10-19 00:00:00, 2011-10-20 00:00:00, 2011-10-21 00:00:00, 2011-10-24 00:00:00, 2011-10-25 00:00:00, 2011-10-26 00:00:00, 2011-10-27 00:00:00, 2011-10-28 00:00:00, 2011-10-31 00:00:00, 2011-11-01 00:00:00, 2011-11-02 00:00:00, 2011-11-03 00:00:00, 2011-11-04 00:00:00, 2011-11-07 00:00:00, 2011-11-08 00:00:00, 2011-11-09 00:00:00, 2011-11-10 00:00:00, 2011-11-11 00:00:00, 2011-11-14 00:00:00, 2011-11-15 00:00:00, 2011-11-16 00:00:00, 2011-11-17 00:00:00, 2011-11-18 00:00:00, 2011-11-21 00:00:00, 2011-11-22 00:00:00, 2011-11-23 00:00:00, 2011-11-24 00:00:00, 2011-11-25 00:00:00, 2011-11-28 00:00:00, 2011-11-29 00:00:00, 2011-11-30 00:00:00, 2011-12-01 00:00:00, 2011-12-02 00:00:00, 2011-12-05 00:00:00, 2011-12-06 00:00:00, 2011-12-07 00:00:00, 2011-12-08 00:00:00, 2011-12-09 00:00:00, 2011-12-12 00:00:00, 2011-12-13 00:00:00, 2011-12-14 00:00:00, 2011-12-15 00:00:00, 2011-12-16 00:00:00, 2011-12-19 00:00:00, 2011-12-20 00:00:00, 2011-12-21 00:00:00, 2011-12-22 00:00:00, 2011-12-23 00:00:00, 2011-12-26 00:00:00, 2011-12-27 00:00:00, 2011-12-28 00:00:00, 2011-12-29 00:00:00, 2011-12-30 00:00:00, 2012-01-02 00:00:00, 2012-01-03 00:00:00, 2012-01-04 00:00:00, 2012-01-05 00:00:00, 2012-01-06 00:00:00, 2012-01-09 00:00:00, 2012-01-10 00:00:00, 2012-01-11 00:00:00, 2012-01-12 00:00:00, 2012-01-13 00:00:00, 2012-01-16 00:00:00, 2012-01-17 00:00:00, 2012-01-18 00:00:00, 2012-01-19 00:00:00, 2012-01-20 00:00:00, 2012-01-23 00:00:00, 2012-01-24 00:00:00, 2012-01-25 00:00:00, 2012-01-26 00:00:00, 2012-01-27 00:00:00, 2012-01-30 00:00:00, 2012-01-31 00:00:00, 2012-02-01 00:00:00, 2012-02-02 00:00:00, 2012-02-03 00:00:00, 2012-02-06 00:00:00, 2012-02-07 00:00:00, 2012-02-08 00:00:00, 2012-02-09 00:00:00, 2012-02-10 00:00:00, 2012-02-13 00:00:00, 2012-02-14 00:00:00, 2012-02-15 00:00:00, 2012-02-16 00:00:00, 2012-02-17 00:00:00, 2012-02-20 00:00:00, 2012-02-21 00:00:00, 2012-02-22 00:00:00, 2012-02-23 00:00:00, 2012-02-24 00:00:00, 2012-02-27 00:00:00, 2012-02-28 00:00:00, 2012-02-29 00:00:00, 2012-03-01 00:00:00, 2012-03-02 00:00:00, 2012-03-05 00:00:00, 2012-03-06 00:00:00, 2012-03-07 00:00:00, 2012-03-08 00:00:00, 2012-03-09 00:00:00, 2012-03-12 00:00:00, 2012-03-13 00:00:00, 2012-03-14 00:00:00, 2012-03-15 00:00:00, 2012-03-16 00:00:00, 2012-03-19 00:00:00, 2012-03-20 00:00:00, 2012-03-21 00:00:00, 2012-03-22 00:00:00, 2012-03-23 00:00:00, 2012-03-26 00:00:00, 2012-03-27 00:00:00, 2012-03-28 00:00:00, 2012-03-29 00:00:00, 2012-03-30 00:00:00, 2012-04-02 00:00:00, 2012-04-03 00:00:00, 2012-04-04 00:00:00, 2012-04-05 00:00:00, 2012-04-06 00:00:00, 2012-04-09 00:00:00, 2012-04-10 00:00:00, 2012-04-11 00:00:00, 2012-04-12 00:00:00, 2012-04-13 00:00:00, 2012-04-16 00:00:00, 2012-04-17 00:00:00, 2012-04-18 00:00:00, 2012-04-19 00:00:00, 2012-04-20 00:00:00, 2012-04-23 00:00:00, 2012-04-24 00:00:00, 2012-04-25 00:00:00, 2012-04-26 00:00:00, 2012-04-27 00:00:00, 2012-04-30 00:00:00, 2012-05-01 00:00:00, 2012-05-02 00:00:00, 2012-05-03 00:00:00, 2012-05-04 00:00:00, 2012-05-07 00:00:00, 2012-05-08 00:00:00, 2012-05-09 00:00:00, 2012-05-10 00:00:00, 2012-05-11 00:00:00, 2012-05-14 00:00:00, 2012-05-15 00:00:00, 2012-05-16 00:00:00, 2012-05-17 00:00:00, 2012-05-18 00:00:00, 2012-05-21 00:00:00, 2012-05-22 00:00:00, 2012-05-23 00:00:00, 2012-05-24 00:00:00, 2012-05-25 00:00:00, 2012-05-28 00:00:00, 2012-05-29 00:00:00, 2012-05-30 00:00:00, 2012-05-31 00:00:00, 2012-06-01 00:00:00, 2012-06-04 00:00:00, 2012-06-05 00:00:00, 2012-06-06 00:00:00, 2012-06-07 00:00:00, 2012-06-08 00:00:00, 2012-06-11 00:00:00, 2012-06-12 00:00:00, 2012-06-13 00:00:00, 2012-06-14 00:00:00, 2012-06-15 00:00:00, 2012-06-18 00:00:00, 2012-06-19 00:00:00, 2012-06-20 00:00:00, 2012-06-21 00:00:00, 2012-06-22 00:00:00, 2012-06-25 00:00:00, 2012-06-26 00:00:00, 2012-06-27 00:00:00, 2012-06-28 00:00:00, 2012-06-29 00:00:00, 2012-07-02 00:00:00, 2012-07-03 00:00:00, 2012-07-04 00:00:00, 2012-07-05 00:00:00, 2012-07-06 00:00:00, 2012-07-09 00:00:00, 2012-07-10 00:00:00, 2012-07-11 00:00:00, 2012-07-12 00:00:00, 2012-07-13 00:00:00, 2012-07-16 00:00:00, 2012-07-17 00:00:00, 2012-07-18 00:00:00, 2012-07-19 00:00:00, 2012-07-20 00:00:00, 2012-07-23 00:00:00, 2012-07-24 00:00:00, 2012-07-25 00:00:00, 2012-07-26 00:00:00, 2012-07-27 00:00:00, 2012-07-30 00:00:00, 2012-07-31 00:00:00, 2012-08-01 00:00:00, 2012-08-02 00:00:00, 2012-08-03 00:00:00, 2012-08-06 00:00:00, 2012-08-07 00:00:00, 2012-08-08 00:00:00, 2012-08-09 00:00:00, 2012-08-10 00:00:00, 2012-08-13 00:00:00, 2012-08-14 00:00:00, 2012-08-15 00:00:00, 2012-08-16 00:00:00, 2012-08-17 00:00:00, 2012-08-20 00:00:00, 2012-08-21 00:00:00, 2012-08-22 00:00:00, 2012-08-23 00:00:00, 2012-08-24 00:00:00, 2012-08-27 00:00:00, 2012-08-28 00:00:00, 2012-08-29 00:00:00, 2012-08-30 00:00:00, 2012-08-31 00:00:00, 2012-09-03 00:00:00, 2012-09-04 00:00:00, 2012-09-05 00:00:00, 2012-09-06 00:00:00, 2012-09-07 00:00:00, 2012-09-10 00:00:00, 2012-09-11 00:00:00, 2012-09-12 00:00:00, 2012-09-13 00:00:00, 2012-09-14 00:00:00, 2012-09-17 00:00:00, 2012-09-18 00:00:00, 2012-09-19 00:00:00, 2012-09-20 00:00:00, 2012-09-21 00:00:00, 2012-09-24 00:00:00, 2012-09-25 00:00:00, 2012-09-26 00:00:00, 2012-09-27 00:00:00, 2012-09-28 00:00:00, 2012-10-01 00:00:00, 2012-10-02 00:00:00, 2012-10-03 00:00:00, 2012-10-04 00:00:00, 2012-10-05 00:00:00, 2012-10-08 00:00:00, 2012-10-09 00:00:00, 2012-10-10 00:00:00, 2012-10-11 00:00:00, 2012-10-12 00:00:00, 2012-10-15 00:00:00, 2012-10-16 00:00:00, 2012-10-17 00:00:00, 2012-10-18 00:00:00, 2012-10-19 00:00:00, 2012-10-22 00:00:00, 2012-10-23 00:00:00, 2012-10-24 00:00:00, 2012-10-25 00:00:00, 2012-10-26 00:00:00, 2012-10-29 00:00:00, 2012-10-30 00:00:00, 2012-10-31 00:00:00, 2012-11-01 00:00:00, 2012-11-02 00:00:00, 2012-11-05 00:00:00, 2012-11-06 00:00:00, 2012-11-07 00:00:00, 2012-11-08 00:00:00, 2012-11-09 00:00:00, 2012-11-12 00:00:00, 2012-11-13 00:00:00, 2012-11-14 00:00:00, 2012-11-15 00:00:00, 2012-11-16 00:00:00, 2012-11-19 00:00:00, 2012-11-20 00:00:00, 2012-11-21 00:00:00, 2012-11-22 00:00:00, 2012-11-23 00:00:00, 2012-11-26 00:00:00, 2012-11-27 00:00:00, 2012-11-28 00:00:00, 2012-11-29 00:00:00, 2012-11-30 00:00:00, 2012-12-03 00:00:00, 2012-12-04 00:00:00, 2012-12-05 00:00:00, 2012-12-06 00:00:00, 2012-12-07 00:00:00, 2012-12-10 00:00:00, 2012-12-11 00:00:00, 2012-12-12 00:00:00, 2012-12-13 00:00:00, 2012-12-14 00:00:00, 2012-12-17 00:00:00, 2012-12-18 00:00:00, 2012-12-19 00:00:00, 2012-12-20 00:00:00, 2012-12-21 00:00:00, 2012-12-24 00:00:00, 2012-12-25 00:00:00, 2012-12-26 00:00:00, 2012-12-27 00:00:00, 2012-12-28 00:00:00, 2012-12-31 00:00:00, 2013-01-01 00:00:00, 2013-01-02 00:00:00, 2013-01-03 00:00:00, 2013-01-04 00:00:00, 2013-01-07 00:00:00, 2013-01-08 00:00:00, 2013-01-09 00:00:00, 2013-01-10 00:00:00, 2013-01-11 00:00:00, 2013-01-14 00:00:00, 2013-01-15 00:00:00, 2013-01-16 00:00:00, 2013-01-17 00:00:00, 2013-01-18 00:00:00, 2013-01-21 00:00:00, 2013-01-22 00:00:00, 2013-01-23 00:00:00, 2013-01-24 00:00:00, 2013-01-25 00:00:00, 2013-01-28 00:00:00, 2013-01-29 00:00:00, 2013-01-30 00:00:00, 2013-01-31 00:00:00, 2013-02-01 00:00:00, 2013-02-04 00:00:00, 2013-02-05 00:00:00, 2013-02-06 00:00:00, 2013-02-07 00:00:00, 2013-02-08 00:00:00, 2013-02-11 00:00:00, 2013-02-12 00:00:00, 2013-02-13 00:00:00, 2013-02-14 00:00:00, 2013-02-15 00:00:00, 2013-02-18 00:00:00, 2013-02-19 00:00:00, 2013-02-20 00:00:00, 2013-02-21 00:00:00, 2013-02-22 00:00:00, 2013-02-25 00:00:00, 2013-02-26 00:00:00, 2013-02-27 00:00:00, 2013-02-28 00:00:00, 2013-03-01 00:00:00, 2013-03-04 00:00:00, 2013-03-05 00:00:00, 2013-03-06 00:00:00, 2013-03-07 00:00:00, 2013-03-08 00:00:00, 2013-03-11 00:00:00, 2013-03-12 00:00:00, 2013-03-13 00:00:00, 2013-03-14 00:00:00, 2013-03-15 00:00:00, 2013-03-18 00:00:00, 2013-03-19 00:00:00, 2013-03-20 00:00:00, 2013-03-21 00:00:00, 2013-03-22 00:00:00, 2013-03-25 00:00:00, 2013-03-26 00:00:00, 2013-03-27 00:00:00, 2013-03-28 00:00:00, 2013-03-29 00:00:00, 2013-04-01 00:00:00, 2013-04-02 00:00:00, 2013-04-03 00:00:00, 2013-04-04 00:00:00, 2013-04-05 00:00:00, 2013-04-08 00:00:00, 2013-04-09 00:00:00, 2013-04-10 00:00:00, 2013-04-11 00:00:00, 2013-04-12 00:00:00, 2013-04-15 00:00:00, 2013-04-16 00:00:00, 2013-04-17 00:00:00, 2013-04-18 00:00:00, 2013-04-19 00:00:00, 2013-04-22 00:00:00, 2013-04-23 00:00:00, 2013-04-24 00:00:00, 2013-04-25 00:00:00, 2013-04-26 00:00:00, 2013-04-29 00:00:00, 2013-04-30 00:00:00, 2013-05-01 00:00:00, 2013-05-02 00:00:00, 2013-05-03 00:00:00, 2013-05-06 00:00:00, 2013-05-07 00:00:00, 2013-05-08 00:00:00, 2013-05-09 00:00:00, 2013-05-10 00:00:00, 2013-05-13 00:00:00, 2013-05-14 00:00:00, 2013-05-15 00:00:00, 2013-05-16 00:00:00, 2013-05-17 00:00:00, 2013-05-20 00:00:00, 2013-05-21 00:00:00, 2013-05-22 00:00:00, 2013-05-23 00:00:00, 2013-05-24 00:00:00, 2013-05-27 00:00:00, 2013-05-28 00:00:00, 2013-05-29 00:00:00, 2013-05-30 00:00:00, 2013-05-31 00:00:00, 2013-06-03 00:00:00, 2013-06-04 00:00:00, 2013-06-05 00:00:00, 2013-06-06 00:00:00, 2013-06-07 00:00:00, 2013-06-10 00:00:00, 2013-06-11 00:00:00, 2013-06-12 00:00:00, 2013-06-13 00:00:00, 2013-06-14 00:00:00, 2013-06-17 00:00:00, 2013-06-18 00:00:00, 2013-06-19 00:00:00, 2013-06-20 00:00:00, 2013-06-21 00:00:00, 2013-06-24 00:00:00, 2013-06-25 00:00:00, 2013-06-26 00:00:00, 2013-06-27 00:00:00, 2013-06-28 00:00:00, 2013-07-01 00:00:00, 2013-07-02 00:00:00, 2013-07-03 00:00:00, 2013-07-04 00:00:00, 2013-07-05 00:00:00, 2013-07-08 00:00:00, 2013-07-09 00:00:00, 2013-07-10 00:00:00, 2013-07-11 00:00:00, 2013-07-12 00:00:00, 2013-07-15 00:00:00, 2013-07-16 00:00:00, 2013-07-17 00:00:00, 2013-07-18 00:00:00, 2013-07-19 00:00:00, 2013-07-22 00:00:00, 2013-07-23 00:00:00, 2013-07-24 00:00:00, 2013-07-25 00:00:00, 2013-07-26 00:00:00, 2013-07-29 00:00:00, 2013-07-30 00:00:00, 2013-07-31 00:00:00, 2013-08-01 00:00:00, 2013-08-02 00:00:00, 2013-08-05 00:00:00, 2013-08-06 00:00:00, 2013-08-07 00:00:00, 2013-08-08 00:00:00, 2013-08-09 00:00:00, 2013-08-12 00:00:00, 2013-08-13 00:00:00, 2013-08-14 00:00:00, 2013-08-15 00:00:00, 2013-08-16 00:00:00, 2013-08-19 00:00:00, 2013-08-20 00:00:00, 2013-08-21 00:00:00, 2013-08-22 00:00:00, 2013-08-23 00:00:0

## Selecting from a DataFrame with a DateTimeIndex

In [82]:
stocks_tcehy = web.DataReader(name = company, data_source = "morningstar", start = start, end = end)
stocks_tcehy.head()

                   Close   High    Low   Open  Volume
Symbol Date
TCEHY  2010-01-01  4.344  4.366  4.320  4.320       0
       2010-01-04  4.416  4.416  4.366  4.366   61480
       2010-01-05  4.452  4.480  4.410  4.474   75690
       2010-01-06  4.482  4.482  4.470  4.480   56010
       2010-01-07  4.300  4.300  4.254  4.298   49355

In [89]:
stocks_tcehy.iloc[3]

Close         4.482
High          4.482
Low           4.470
Open          4.480
Volume    56010.000
Name: (TCEHY, 2010-01-06 00:00:00), dtype: float64

In [90]:
stocks_tcehy.index.names

FrozenList(['Symbol', 'Date'])

In [91]:
type(stocks_tcehy.index)

pandas.core.indexes.multi.MultiIndex

In [97]:
stocks_tcehy.index.get_level_values(1)  # only called on MI objects

DatetimeIndex(['2010-01-01', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-16', '2018-04-17', '2018-04-18',
               '2018-04-19', '2018-04-20'],
              dtype='datetime64[ns]', name='Date', length=2166, freq=None)

In [111]:
# Using .loc[] with Symbol still part of the MI object
# Below won't work because I dropped Sybmol and inplace = True
# stocks_tcehy.loc[("TCEHY", "2010-01-06"), "High"]

### Had to remove the "Symbol" from the index

In [106]:
stocks_tcehy.get_values()
stocks_tcehy.reset_index(level = "Symbol", drop = True, inplace = True)

In [107]:
stocks_tcehy.head()

            Close   High    Low   Open  Volume
Date
2010-01-01  4.344  4.366  4.320  4.320       0
2010-01-04  4.416  4.416  4.366  4.366   61480
2010-01-05  4.452  4.480  4.410  4.474   75690
2010-01-06  4.482  4.482  4.470  4.480   56010
2010-01-07  4.300  4.300  4.254  4.298   49355

In [120]:
# Now with Symbol in the index I can use .loc
stocks_tcehy.loc["2010-01-06"] # returns a series
stocks_tcehy.iloc[5:300].max()
stocks_tcehy.iloc[:500].max()
stocks_tcehy.ix["2016-01-01"]

/Users/gaylonalfano/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

Close     19.62
High      19.62
Low       19.62
Open      19.62
Volume     0.00
Name: 2016-01-01 00:00:00, dtype: float64

In [145]:
stocks_tcehy.loc["2012-01-01" : "2012-12-31"]

             Close   High    Low   Open  Volume
Date
2012-01-02  4.0280  4.028  4.028  4.028       0
2012-01-03  4.1040  4.156  4.078  4.078  635555
2012-01-04  4.0860  4.120  4.016  4.016  641255
2012-01-05  4.0620  4.078  4.024  4.044  182805
2012-01-06  3.9900  4.032  3.958  3.958  166165
2012-01-09  4.0240  4.026  3.958  3.958  582665
2012-01-10  4.1700  4.188  4.142  4.142  181595
2012-01-11  4.3200  4.338  4.256  4.256   91285
2012-01-12  4.3400  4.358  4.306  4.358  326820
2012-01-13  4.3480  4.398  4.322  4.326  466600
2012-01-16  4.3480  4.348  4.348  4.348       0
2012-01-17  4.5440  4.570  4.520  4.556  350135
2012-01-18  4.7040  4.710  4.640  4.640  138705
2012-01-19  4.6560  4.690  4.640  4.676  155335
2012-01-20  4.6920  4.696  4.632  4.632  276140
2012-01-23  4.7120  4.730  4.648  4.648  397175
2012-01-24  4.7260  4.726  4.690  4.714  220510
2012-01-25  4.7260  4.776  4.680  4.716  272500
2012-01-26  4.6840  4.780  4.684  4.780   86785
2012-01-27  4.7000  4.708  4.630  4.630  356565
2012-01-30  4.7800  4.780  4.710  4.710  188565
2012-01-31  4.8800  4.922  4.860  4.860  152985
2012-02-01  4.8080  4.820  4.718  4.808  251504
2012-02-02  4.8400  4.848  4.810  4.810  196820
2012-02-03  4.8360  4.862  4.780  4.780  125750
2012-02-06  4.7700  4.830  4.770  4.772  125019
2012-02-07  4.7580  4.786  4.696  4.696  123565
2012-02-08  4.7700  4.848  4.770  4.848  175005
2012-02-09  4.8940  4.920  4.864  4.864  488535
2012-02-10  4.7660  4.782  4.752  4.782  332480
...            ...    ...    ...    ...     ...
2012-11-20  6.5280  6.528  6.454  6.480  221675
2012-11-21  6.6740  6.692  6.610  6.610  106765
2012-11-22  6.6740  6.674  6.674  6.674       0
2012-11-23  6.6400  6.654  6.598  6.654   58290
2012-11-26  6.4860  6.550  6.480  6.550  188315
2012-11-27  6.4760  6.490  6.450  6.450   77410
2012-11-28  6.5400  6.560  6.462  6.560  162865
2012-11-29  6.5700  6.614  6.570  6.614  167130
2012-11-30  6.5000  6.528  6.490  6.528   64245
2012-12-03  6.2860  6.380  6.258  6.320  890300
2012-12-04  6.3100  6.352  6.272  6.276  192070
2012-12-05  6.4500  6.502  6.416  6.416  549045
2012-12-06  6.5200  6.538  6.476  6.476  246030
2012-12-07  6.4800  6.512  6.440  6.512  270995
2012-12-10  6.5220  6.578  6.516  6.578  161635
2012-12-11  6.5280  6.556  6.508  6.508  630945
2012-12-12  6.5076  6.570  6.500  6.530  161480
2012-12-13  6.4760  6.558  6.450  6.558  139275
2012-12-14  6.4740  6.486  6.448  6.478  161980
2012-12-17  6.4640  6.472  6.410  6.472  104670
2012-12-18  6.4800  6.500  6.424  6.464  141950
2012-12-19  6.4200  6.452  6.416  6.420  322585
2012-12-20  6.4420  6.464  6.400  6.400  130280
2012-12-21  6.4120  6.416  6.370  6.400  282625
2012-12-24  6.3660  6.406  6.320  6.406  218460
2012-12-25  6.3660  6.366  6.366  6.366       0
2012-12-26  6.3998  6.408  6.350  6.350  117685
2012-12-27  6.3740  6.418  6.328  6.356  204455
2012-12-28  6.4120  6.450  6.400  6.400  148585
2012-12-31  6.5300  6.530  6.442  6.470  160060

[261 rows x 5 columns]

In [124]:
# pd.DateOffset() allows for custom frequency
# Challenge: What was the stock price on my birthday year over year?
# First create a date range of my birthday ever year
birthdays = pd.date_range(start = "1981-05-29", end = "2018-12-31", 
             freq = pd.DateOffset(years = 1))

In [131]:
# Then need to see if stocks index are in my birthdays .isin()
mask = stocks_tcehy.index.isin(values = birthdays)  # retuns array

### Difference between using .loc[] versus just [] to filter
Simple [] extraction creates a separate DF. .loc[] is better to modify the values inplace -- Still not 100% clear

In [138]:
# My attempt
# type(stocks_tcehy[mask])
stocks_tcehy[mask]

             Close    High     Low    Open  Volume
Date
2012-05-29   5.536   5.574   5.510   5.512  140700
2013-05-29   7.786   7.846   7.754   7.770  164220
2014-05-29  14.250  14.300  14.100  14.255  191854
2015-05-29  19.960  20.150  19.930  19.995  248755
2017-05-29  35.565  35.565  35.565  35.565       0

In [140]:
# Teacher's method
# type(stocks_tcehy.loc[mask])
stocks_tcehy.loc[mask]

             Close    High     Low    Open  Volume
Date
2012-05-29   5.536   5.574   5.510   5.512  140700
2013-05-29   7.786   7.846   7.754   7.770  164220
2014-05-29  14.250  14.300  14.100  14.255  191854
2015-05-29  19.960  20.150  19.930  19.995  248755
2017-05-29  35.565  35.565  35.565  35.565       0

## Timestamp Object Attributes

In [175]:
# params for DataReader: name = the company you want to pull info "Stock Symbol"
# data_source = Yahoo, Google, etc.; start/end = date range
company = "TCEHY" # BABA, MSFT
start = "2010-01-01"
end = "2018-12-31"  # Future dates are fine

# Returns a DTIndex
stocks_tcehy = web.DataReader(name = company, data_source = "morningstar", start = start, end = end)
stocks_tcehy.reset_index(level = "Symbol", drop = True, inplace = True)
stocks_tcehy.head()

            Close   High    Low   Open  Volume
Date
2010-01-01  4.344  4.366  4.320  4.320       0
2010-01-04  4.416  4.416  4.366  4.366   61480
2010-01-05  4.452  4.480  4.410  4.474   75690
2010-01-06  4.482  4.482  4.470  4.480   56010
2010-01-07  4.300  4.300  4.254  4.298   49355

In [176]:
someday = stocks_tcehy.index[500]
someday # now a TS object

Timestamp('2011-12-02 00:00:00')

In [177]:
someday.day
someday.month
someday.year
someday.weekday_name
someday.is_month_end  # bool
someday.is_month_start # bool

False

In [181]:
# Let's use these attributes to modify original DF
# Add new column that stores weekday name of each value
# loc = column location; value = how it calcs the values that populate
# this new series (use .index.weekday_name attr). This will look at all 
# index TS values, get attribute (weekday_name), create a SERIES of these
# weekday names, then populate it through the DF.

stocks_tcehy.columns
stocks_tcehy.insert(loc = 0, column = "Day of Week", value = stocks_tcehy.index.weekday_name)

ValueError: cannot insert Day of Week, already exists

In [182]:
stocks_tcehy.head()

           Day of Week  Close   High    Low   Open  Volume
Date
2010-01-01      Friday  4.344  4.366  4.320  4.320       0
2010-01-04      Monday  4.416  4.416  4.366  4.366   61480
2010-01-05     Tuesday  4.452  4.480  4.410  4.474   75690
2010-01-06   Wednesday  4.482  4.482  4.470  4.480   56010
2010-01-07    Thursday  4.300  4.300  4.254  4.298   49355

In [183]:
# let's add another column to the right of "Day of Week" (loc = 2).
# Let's call it start of month
stocks_tcehy.insert(loc = 1, column = "Is Start of Month", value = stocks_tcehy.index.is_month_start)

In [186]:
# Want to see the values for those that are on the start of a month
stocks_tcehy["Is Start of Month"]
stocks_tcehy[stocks_tcehy["Is Start of Month"]]

,Day of Week,Is Start of Month,Close,High,Low,Open,Volume
Date,,,,,,,
2010-01-01,Friday,True,4.3440,4.366,4.320,4.320,0
2010-02-01,Monday,True,3.6600,3.692,3.660,3.678,37825
2010-03-01,Monday,True,3.9720,4.000,3.800,3.800,27950
2010-04-01,Thursday,True,3.9860,4.006,3.800,3.800,56675
2010-06-01,Tuesday,True,3.8060,3.884,3.800,3.800,133505
2010-07-01,Thursday,True,3.3400,3.340,3.262,3.320,254029
2010-09-01,Wednesday,True,3.7200,3.800,3.652,3.800,50190
2010-10-01,Friday,True,4.3720,4.400,4.360,4.400,67890
2010-11-01,Monday,True,4.8100,4.840,4.780,4.794,536620
2010-12-01,Wednesday,True,4.5220,4.566,4.474,4.510,192640
2011-02-01,Tuesday,True,5.1920,5.192,5.146,5.170,156575
2011-03-01,Tuesday,True,5.3900,5.420,5.384,5.400,190860
2011-04-01,Friday,True,4.9980,5.010,4.950,4.950,277040
2011-06-01,Wednesday,True,5.6860,5.790,5.686,5.788,296435
2011-07-01,Friday,True,5.5380,5.538,5.442,5.458,152940
2011-08-01,Monday,True,5.3000,5.378,5.250,5.350,330105
2011-09-01,Thursday,True,4.7880,4.880,4.750,4.824,233100
2011-11-01,Tuesday,True,4.5000,4.560,4.442,4.442,139125
2011-12-01,Thursday,True,4.0100,4.050,3.960,4.050,638850
2012-02-01,Wednesday,True,4.8080,4.820,4.718,4.808,251504
2012-03-01,Thursday,True,5.1600,5.176,5.136,5.176,112145
2012-05-01,Tuesday,True,6.3000,6.336,6.240,6.240,153700
2012-06-01,Friday,True,5.4500,5.482,5.322,5.322,392710
2012-08-01,Wednesday,True,5.8960,5.910,5.876,5.890,553510
2012-10-01,Monday,True,6.7620,6.868,6.750,6.750,304440
2012-11-01,Thursday,True,7.2280,7.230,7.068,7.068,158440
2013-01-01,Tuesday,True,6.5300,6.530,6.530,6.530,0
2013-02-01,Friday,True,6.9720,6.982,6.930,6.970,170030
2013-03-01,Friday,True,6.9340,6.950,6.900,6.936,163720
2013-04-01,Monday,True,6.2640,6.394,6.242,6.312,425570
...,...,...,...,...,...,...,...
2014-12-01,Monday,True,15.3800,15.650,15.330,15.640,242816
2015-01-01,Thursday,True,14.5100,14.510,14.510,14.510,0
2015-04-01,Wednesday,True,19.0700,19.070,18.900,18.950,840343
2015-05-01,Friday,True,20.4500,20.700,20.430,20.700,1092985
2015-06-01,Monday,True,19.9700,20.240,19.920,20.150,583329
2015-07-01,Wednesday,True,19.9731,20.190,19.920,20.190,419368
2015-09-01,Tuesday,True,16.0800,16.380,16.020,16.340,483061
2015-10-01,Thursday,True,17.1500,17.200,16.920,16.930,1176561
2015-12-01,Tuesday,True,20.0650,20.080,19.850,20.021,937034
2016-01-01,Friday,True,19.6200,19.620,19.620,19.620,0
2016-02-01,Monday,True,18.7800,18.800,18.600,18.650,597361
2016-03-01,Tuesday,True,19.0700,19.130,18.550,18.570,1201260
2016-04-01,Friday,True,20.5600,20.600,20.166,20.340,215087
2016-06-01,Wednesday,True,21.9000,21.980,21.820,21.950,1395773
2016-07-01,Friday,True,22.9800,23.130,22.900,22.950,643922
2016-08-01,Monday,True,23.9100,23.950,23.700,23.850,1014124
2016-09-01,Thursday,True,25.9600,26.200,25.930,26.200,834235
2016-11-01,Tuesday,True,26.4400,26.780,26.340,26.741,739916
2016-12-01,Thursday,True,24.7300,25.070,24.660,25.010,1230845
2017-02-01,Wednesday,True,26.7400,26.800,26.360,26.800,1133315
2017-03-01,Wednesday,True,26.9300,27.000,26.750,26.930,727079
2017-05-01,Monday,True,31.6500,31.690,31.410,31.410,813503
2017-06-01,Thursday,True,35.0000,35.040,34.640,34.715,1626088
2017-08-01,Tuesday,True,40.4100,40.490,40.200,40.200,1764630
2017-09-01,Friday,True,42.0000,42.030,41.780,41.870,2130108
2017-11-01,Wednesday,True,46.0500,46.300,46.020,46.250,1890438
2017-12-01,Friday,True,49.0300,49.380,48.380,49.290,5799147
2018-01-01,Monday,True,51.9200,51.920,51.920,51.920,0
2018-02-01,Thursday,True,57.9100,58.470,57.860,58.240,3531062
2018-03-01,Thursday,True,55.7500,56.800,55.000,56.780,3404837

## The .truncate() Method
Convenient method to pull/filter values from Series/DF. Used for slicing operations on objects in pandas with a datetimeIndex. Can be called on Series and DataFrames. It wants two values: before and after.

In [187]:
# params for DataReader: name = the company you want to pull info "Stock Symbol"
# data_source = Yahoo, Google, etc.; start/end = date range
company = "TCEHY" # BABA, MSFT
start = "2010-01-01"
end = "2018-12-31"  # Future dates are fine

# Returns a DTIndex
stocks_tcehy = web.DataReader(name = company, data_source = "morningstar", start = start, end = end)
stocks_tcehy.reset_index(level = "Symbol", drop = True, inplace = True)
# stocks_tcehy.sort_index()
stocks_tcehy.head()

            Close   High    Low   Open  Volume
Date
2010-01-01  4.344  4.366  4.320  4.320       0
2010-01-04  4.416  4.416  4.366  4.366   61480
2010-01-05  4.452  4.480  4.410  4.474   75690
2010-01-06  4.482  4.482  4.470  4.480   56010
2010-01-07  4.300  4.300  4.254  4.298   49355

In [189]:
stocks_tcehy.truncate(before = "2011-02-05", after = "2011-02-28")
stocks_tcehy.truncate(before = "2012-06-07", after = "2013-02-28")

             Close    High     Low    Open   Volume
Date
2012-06-07  5.7260  5.8140  5.6300  5.6300   935875
2012-06-08  5.7240  5.7340  5.6560  5.6560   148125
2012-06-11  5.8240  5.9410  5.8240  5.9200   182120
2012-06-12  5.8520  5.8780  5.7700  5.8780   104725
2012-06-13  5.7960  5.8380  5.7960  5.8200   166620
2012-06-14  5.8340  5.8612  5.7600  5.7600   209515
2012-06-15  5.9400  5.9700  5.8840  5.8840    61280
2012-06-18  6.0100  6.0800  5.9800  6.0800   113960
2012-06-19  6.1440  6.2020  6.0940  6.0940   244200
2012-06-20  6.1700  6.1700  6.1200  6.1200   215710
2012-06-21  5.7640  5.9200  5.7640  5.9200  1107300
2012-06-22  5.7220  5.7920  5.6980  5.7920   843990
2012-06-25  5.6440  5.7200  5.6300  5.6600   528640
2012-06-26  5.6120  5.6300  5.5900  5.6000  1243910
2012-06-27  5.8180  5.8360  5.7880  5.8280   621190
2012-06-28  5.6300  5.6300  5.5800  5.6000   608790
2012-06-29  5.8840  5.8840  5.8120  5.8120   590845
2012-07-02  5.8740  5.8820  5.7840  5.7840    87575
2012-07-03  6.0500  6.0560  5.9360  5.9800   205320
2012-07-04  6.0500  6.0500  6.0500  6.0500        0
2012-07-05  6.0720  6.0980  6.0460  6.0460    48670
2012-07-06  6.0280  6.0520  6.0040  6.0280   107295
2012-07-09  5.8840  5.9220  5.8700  5.8720    52390
2012-07-10  5.8600  5.9920  5.8600  5.9320    82500
2012-07-11  5.8380  5.9000  5.8000  5.9000   133715
2012-07-12  5.6940  5.7000  5.6400  5.6710    65705
2012-07-13  5.7860  5.8060  5.7100  5.7100   195195
2012-07-16  5.7860  5.8060  5.7600  5.8060   148815
2012-07-17  5.8840  5.9300  5.8300  5.8600   135230
2012-07-18  5.7600  5.7700  5.6900  5.7680    66945
...            ...     ...     ...     ...      ...
2013-01-18  7.0080  7.0200  6.9260  6.9260   133575
2013-01-21  7.0080  7.0080  7.0080  7.0080        0
2013-01-22  6.9600  6.9680  6.9380  6.9680    98615
2013-01-23  6.9400  6.9780  6.9140  6.9720   104845
2013-01-24  7.0340  7.0400  6.9820  6.9820   200905
2013-01-25  6.9060  6.9420  6.9000  6.9420   134820
2013-01-28  6.9000  6.9380  6.8720  6.9380   140910
2013-01-29  6.9380  6.9400  6.8720  6.9080   195050
2013-01-30  7.0000  7.0100  6.9620  6.9920   150995
2013-01-31  7.0220  7.0420  7.0000  7.0200   172330
2013-02-01  6.9720  6.9820  6.9300  6.9700   170030
2013-02-04  6.8380  6.9320  6.8300  6.9016    97020
2013-02-05  6.8440  6.8900  6.8180  6.8180   230785
2013-02-06  6.8760  6.8780  6.8360  6.8360   195650
2013-02-07  6.9880  7.0080  6.9500  6.9800    79010
2013-02-08  7.0044  7.0260  6.9420  7.0000    80530
2013-02-11  6.9900  7.0200  6.9560  7.0200   124630
2013-02-12  6.9940  7.0280  6.9720  7.0200    77905
2013-02-13  7.0480  7.0500  6.9960  6.9960    97430
2013-02-14  7.0480  7.0540  7.0080  7.0100   169785
2013-02-15  7.1060  7.1260  7.0836  7.1000   183390
2013-02-18  7.1060  7.1060  7.1060  7.1060        0
2013-02-19  7.0900  7.1300  7.0900  7.1300   114675
2013-02-20  7.0400  7.1160  7.0340  7.0940   107495
2013-02-21  6.9860  7.0300  6.9400  7.0300   212560
2013-02-22  6.9200  6.9300  6.7880  6.7880   427055
2013-02-25  6.8000  6.8780  6.7400  6.8740   136340
2013-02-26  6.8760  6.9080  6.8500  6.8620   140855
2013-02-27  6.8900  6.9100  6.7700  6.7700    97605
2013-02-28  6.9300  6.9480  6.8660  6.8660   151925

[191 rows x 5 columns]

In [191]:
# Another way to pull the list
stocks_tcehy.loc["2012-06-07" : "2013-02-28"]

             Close    High     Low    Open   Volume
Date
2012-06-07  5.7260  5.8140  5.6300  5.6300   935875
2012-06-08  5.7240  5.7340  5.6560  5.6560   148125
2012-06-11  5.8240  5.9410  5.8240  5.9200   182120
2012-06-12  5.8520  5.8780  5.7700  5.8780   104725
2012-06-13  5.7960  5.8380  5.7960  5.8200   166620
2012-06-14  5.8340  5.8612  5.7600  5.7600   209515
2012-06-15  5.9400  5.9700  5.8840  5.8840    61280
2012-06-18  6.0100  6.0800  5.9800  6.0800   113960
2012-06-19  6.1440  6.2020  6.0940  6.0940   244200
2012-06-20  6.1700  6.1700  6.1200  6.1200   215710
2012-06-21  5.7640  5.9200  5.7640  5.9200  1107300
2012-06-22  5.7220  5.7920  5.6980  5.7920   843990
2012-06-25  5.6440  5.7200  5.6300  5.6600   528640
2012-06-26  5.6120  5.6300  5.5900  5.6000  1243910
2012-06-27  5.8180  5.8360  5.7880  5.8280   621190
2012-06-28  5.6300  5.6300  5.5800  5.6000   608790
2012-06-29  5.8840  5.8840  5.8120  5.8120   590845
2012-07-02  5.8740  5.8820  5.7840  5.7840    87575
2012-07-03  6.0500  6.0560  5.9360  5.9800   205320
2012-07-04  6.0500  6.0500  6.0500  6.0500        0
2012-07-05  6.0720  6.0980  6.0460  6.0460    48670
2012-07-06  6.0280  6.0520  6.0040  6.0280   107295
2012-07-09  5.8840  5.9220  5.8700  5.8720    52390
2012-07-10  5.8600  5.9920  5.8600  5.9320    82500
2012-07-11  5.8380  5.9000  5.8000  5.9000   133715
2012-07-12  5.6940  5.7000  5.6400  5.6710    65705
2012-07-13  5.7860  5.8060  5.7100  5.7100   195195
2012-07-16  5.7860  5.8060  5.7600  5.8060   148815
2012-07-17  5.8840  5.9300  5.8300  5.8600   135230
2012-07-18  5.7600  5.7700  5.6900  5.7680    66945
...            ...     ...     ...     ...      ...
2013-01-18  7.0080  7.0200  6.9260  6.9260   133575
2013-01-21  7.0080  7.0080  7.0080  7.0080        0
2013-01-22  6.9600  6.9680  6.9380  6.9680    98615
2013-01-23  6.9400  6.9780  6.9140  6.9720   104845
2013-01-24  7.0340  7.0400  6.9820  6.9820   200905
2013-01-25  6.9060  6.9420  6.9000  6.9420   134820
2013-01-28  6.9000  6.9380  6.8720  6.9380   140910
2013-01-29  6.9380  6.9400  6.8720  6.9080   195050
2013-01-30  7.0000  7.0100  6.9620  6.9920   150995
2013-01-31  7.0220  7.0420  7.0000  7.0200   172330
2013-02-01  6.9720  6.9820  6.9300  6.9700   170030
2013-02-04  6.8380  6.9320  6.8300  6.9016    97020
2013-02-05  6.8440  6.8900  6.8180  6.8180   230785
2013-02-06  6.8760  6.8780  6.8360  6.8360   195650
2013-02-07  6.9880  7.0080  6.9500  6.9800    79010
2013-02-08  7.0044  7.0260  6.9420  7.0000    80530
2013-02-11  6.9900  7.0200  6.9560  7.0200   124630
2013-02-12  6.9940  7.0280  6.9720  7.0200    77905
2013-02-13  7.0480  7.0500  6.9960  6.9960    97430
2013-02-14  7.0480  7.0540  7.0080  7.0100   169785
2013-02-15  7.1060  7.1260  7.0836  7.1000   183390
2013-02-18  7.1060  7.1060  7.1060  7.1060        0
2013-02-19  7.0900  7.1300  7.0900  7.1300   114675
2013-02-20  7.0400  7.1160  7.0340  7.0940   107495
2013-02-21  6.9860  7.0300  6.9400  7.0300   212560
2013-02-22  6.9200  6.9300  6.7880  6.7880   427055
2013-02-25  6.8000  6.8780  6.7400  6.8740   136340
2013-02-26  6.8760  6.9080  6.8500  6.8620   140855
2013-02-27  6.8900  6.9100  6.7700  6.7700    97605
2013-02-28  6.9300  6.9480  6.8660  6.8660   151925

[191 rows x 5 columns]

## The pd.DateOffset Objects
Ways to modify existing times. So far we have retrieved dates but we haven't changed them - add days, subtract weeks, add years, etc. dt.datetime.now() will give you current time. You can change the timezone. Can pass days, months, years, etc. to method (pd.DateOffset(days = 5)).

In [206]:
stocks_goog = web.DataReader(name = "GOOG", data_source = "morningstar", 
              start = dt.date(2000, 1, 1), end = dt.datetime.now())
stocks_goog.reset_index(level = 0, inplace = True)

stocks_goog.head()

           Symbol     Close      High       Low      Open  Volume
Date
2014-03-27   GOOG  556.9312  566.4451  551.4064  566.4451   13087
2014-03-28   GOOG  558.4570  564.8794  557.1406  559.7136   41115
2014-03-31   GOOG  555.4453  565.4478  555.4054  565.3381   10801
2014-04-01   GOOG  565.6074  566.8939  557.1805  557.1805    7953
2014-04-02   GOOG  565.4478  603.1743  560.6510  579.1702  147099

In [208]:
stocks_goog.index  # Have to make sure DF isn't MI, otherwise will return MI instead of DTI

DatetimeIndex(['2014-03-27', '2014-03-28', '2014-03-31', '2014-04-01',
               '2014-04-02', '2014-04-03', '2014-04-04', '2014-04-07',
               '2014-04-08', '2014-04-09',
               ...
               '2018-04-12', '2018-04-13', '2018-04-16', '2018-04-17',
               '2018-04-18', '2018-04-19', '2018-04-20', '2018-04-23',
               '2018-04-24', '2018-04-25'],
              dtype='datetime64[ns]', name='Date', length=1065, freq=None)

In [210]:
# Want to take current dates and add 5 days to each
stocks_goog.index + pd.DateOffset(days = 5)

DatetimeIndex(['2014-04-01', '2014-04-02', '2014-04-05', '2014-04-06',
               '2014-04-07', '2014-04-08', '2014-04-09', '2014-04-12',
               '2014-04-13', '2014-04-14',
               ...
               '2018-04-17', '2018-04-18', '2018-04-21', '2018-04-22',
               '2018-04-23', '2018-04-24', '2018-04-25', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', name='Date', length=1065, freq=None)

In [221]:
stocks_baba = web.DataReader(name = "BABA", data_source = "morningstar",
                            start = dt.date(2000, 1, 1), end = dt.datetime.now())
stocks_baba.reset_index(level = 0, inplace = True)
stocks_baba.sort_index(inplace = True)  # DataReader sorts index by default FYI

In [223]:
stocks_baba.head()

           Symbol  Close   High    Low   Open     Volume
Date
2014-09-19   BABA  93.89  99.70  89.95  92.70  271879435
2014-09-22   BABA  89.89  92.95  89.50  92.70   66657827
2014-09-23   BABA  87.17  90.48  86.62  88.94   39009788
2014-09-24   BABA  90.57  90.57  87.22  88.47   32088108
2014-09-25   BABA  88.92  91.50  88.50  91.09   28597506

In [235]:
# Want to add or subtract weeks or years. Doesn't have inplace.
stocks_baba.index + pd.DateOffset(weeks = 2)
stocks_baba.index - pd.DateOffset(years = 1)

# Can even add time
stocks_baba.index + pd.DateOffset(hours = 6)

# Can do multiple params
stocks_baba.index - pd.DateOffset(years = 1, months = 3, days = 10, hours = 3, minutes = 30)

DatetimeIndex(['2013-06-08 20:30:00', '2013-06-11 20:30:00',
               '2013-06-12 20:30:00', '2013-06-13 20:30:00',
               '2013-06-14 20:30:00', '2013-06-15 20:30:00',
               '2013-06-18 20:30:00', '2013-06-19 20:30:00',
               '2013-06-20 20:30:00', '2013-06-21 20:30:00',
               ...
               '2017-01-05 20:30:00', '2017-01-06 20:30:00',
               '2017-01-07 20:30:00', '2017-01-08 20:30:00',
               '2017-01-09 20:30:00', '2017-01-12 20:30:00',
               '2017-01-13 20:30:00', '2017-01-14 20:30:00',
               '2017-01-15 20:30:00', '2017-01-16 20:30:00'],
              dtype='datetime64[ns]', name='Date', length=941, freq=None)

## More fun with pd.DataOffset Objects
What if we wanted to round dates to closest end/start of month/quarter?
Need to use a new list of DateOffsets. Hidden in custom module in Pandas

pd.tseries.offsets.MonthEnd(), .MonthBegin, etc.

The + = Look at date, then find the next monthend
The - = Look at date, then find the last monthend. Rounds to month end
Ex. 2000-01-03 will round to 2000-01-31
If original date is already on monthend, then will go to next month

### However, it's recommended to add another import statement to make syntax easier
from pandas.tseries.offsets import *

In [254]:
import pandas as pd
import datetime as dt
import pandas_datareader.data as web
from pandas.tseries.offsets import *  # Now can call MonthEnd(), MonthBegin() directly

In [241]:
stocks_amzn = web.DataReader(name = "AMZN", data_source = "morningstar",
               start = dt.datetime(2000, 1, 1), end = dt.datetime.now())
stocks_amzn.reset_index(level = 0, drop = False, inplace = True)

stocks_amzn.head()

           Symbol    Close     High      Low     Open    Volume
Date
2000-01-03   AMZN  89.3750  89.5625  79.5000  89.3750  16120899
2000-01-04   AMZN  82.3750  91.5000  81.7500  87.4688  17467200
2000-01-05   AMZN  69.7500  75.1250  68.0000  70.5000  38451400
2000-01-06   AMZN  63.0000  72.6875  63.0000  71.1250  18724400
2000-01-07   AMZN  69.6875  70.5000  66.1875  69.0000  10425700

In [245]:
stocks_amzn.info()
stocks_amzn.describe
stocks_amzn.describe()  # For integer/float values (mean, std, min, max, etc.)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4782 entries, 2000-01-03 to 2018-05-01
Data columns (total 6 columns):
Symbol    4782 non-null object
Close     4782 non-null float64
High      4782 non-null float64
Low       4782 non-null float64
Open      4782 non-null float64
Volume    4782 non-null int64
dtypes: float64(4), int64(1), object(1)
memory usage: 261.5+ KB

             Close         High          Low         Open        Volume
count  4782.000000  4782.000000  4782.000000  4782.000000  4.782000e+03
mean    232.574620   235.056904   229.814597   232.574402  6.440737e+06
std     306.388277   308.983200   303.460317   306.583519  5.352246e+06
min       5.970000     6.100000     5.510000     5.950000  0.000000e+00
25%      38.942500    39.612500    38.280000    38.962500  3.549868e+06
50%      83.152500    84.500000    81.500000    83.060600  5.417458e+06
75%     299.497500   303.112500   296.140000   299.752500  7.833632e+06
max    1598.390000  1638.100000  1590.890000  1634.010000  1.044046e+08

In [249]:
# What if we wanted to round dates to closest end/start of month/quarter?
# Need to use a new list of DateOffsets. Hidden in custom module in Pandas

# pd.tseries.offsets.MonthEnd()
# + = Look at date, then find the next monthend
# - = Look at date, then find the last monthend. Rounds to month end
# Ex. 2000-01-03 will round to 2000-01-31
# If original date is already on monthend, then will go to next month
stocks_amzn.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31', '2000-01-31', '2000-01-31',
               '2000-01-31', '2000-01-31',
               ...
               '2018-04-30', '2018-04-30', '2018-04-30', '2018-04-30',
               '2018-04-30', '2018-04-30', '2018-04-30', '2018-04-30',
               '2018-05-31', '2018-05-31'],
              dtype='datetime64[ns]', name='Date', length=4782, freq=None)

In [250]:
stocks_amzn.index + pd.tseries.offsets.MonthBegin()  # + = Next beginning of month

DatetimeIndex(['2000-02-01', '2000-02-01', '2000-02-01', '2000-02-01',
               '2000-02-01', '2000-02-01', '2000-02-01', '2000-02-01',
               '2000-02-01', '2000-02-01',
               ...
               '2018-05-01', '2018-05-01', '2018-05-01', '2018-05-01',
               '2018-05-01', '2018-05-01', '2018-05-01', '2018-05-01',
               '2018-05-01', '2018-06-01'],
              dtype='datetime64[ns]', name='Date', length=4782, freq=None)

In [251]:
stocks_amzn.index - pd.tseries.offsets.MonthBegin() # previous beginning of month

DatetimeIndex(['2000-01-01', '2000-01-01', '2000-01-01', '2000-01-01',
               '2000-01-01', '2000-01-01', '2000-01-01', '2000-01-01',
               '2000-01-01', '2000-01-01',
               ...
               '2018-04-01', '2018-04-01', '2018-04-01', '2018-04-01',
               '2018-04-01', '2018-04-01', '2018-04-01', '2018-04-01',
               '2018-04-01', '2018-04-01'],
              dtype='datetime64[ns]', name='Date', length=4782, freq=None)

In [252]:
stocks_amzn.index

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14',
               ...
               '2018-04-18', '2018-04-19', '2018-04-20', '2018-04-23',
               '2018-04-24', '2018-04-25', '2018-04-26', '2018-04-27',
               '2018-04-30', '2018-05-01'],
              dtype='datetime64[ns]', name='Date', length=4782, freq=None)

In [261]:
# Have now imported:  from pandas.tseries.offsets import *
# can now call these methods directly without long syntax
# Non-vectorized warning means that it isn't using the built-in pandas processes to speed it up. Ignore it.

stocks_amzn.index - MonthEnd()
stocks_amzn.index + BMonthBegin()  # business month start, end
stocks_amzn.index + QuarterEnd()  # next (or last -) available end of each quarter
stocks_amzn.index + QuarterBegin() # first available day of next starting quarter
stocks_amzn.index - BQuarterEnd()

/Users/gaylonalfano/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/datetimes.py:840: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

DatetimeIndex(['1999-12-31', '1999-12-31', '1999-12-31', '1999-12-31',
               '1999-12-31', '1999-12-31', '1999-12-31', '1999-12-31',
               '1999-12-31', '1999-12-31',
               ...
               '2018-03-30', '2018-03-30', '2018-03-30', '2018-03-30',
               '2018-03-30', '2018-03-30', '2018-03-30', '2018-03-30',
               '2018-03-30', '2018-03-30'],
              dtype='datetime64[ns]', name='Date', length=4782, freq=None)

In [266]:
stocks_amzn.index + YearEnd()
stocks_amzn.index - YearBegin() # rounds to previous/last beginning of year
stocks_amzn.index - BYearEnd() # rounds to previous/last business year end

/Users/gaylonalfano/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/datetimes.py:840: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

DatetimeIndex(['1999-12-31', '1999-12-31', '1999-12-31', '1999-12-31',
               '1999-12-31', '1999-12-31', '1999-12-31', '1999-12-31',
               '1999-12-31', '1999-12-31',
               ...
               '2017-12-29', '2017-12-29', '2017-12-29', '2017-12-29',
               '2017-12-29', '2017-12-29', '2017-12-29', '2017-12-29',
               '2017-12-29', '2017-12-29'],
              dtype='datetime64[ns]', name='Date', length=4782, freq=None)

## The Timedelta Object
A timestamp is something that can be marked on a calendar. The Timedelta is a duration, or a timespan, a difference between times, etc. Doesn't have an associated year or date with it. Rather it represents a distance in a timespan. Delta is mathematical expression that equals "change over time."

Two ways to create a Timedelta: Subtract two timestamps and get distance between them.

In [272]:
timeA = pd.Timestamp("2016-03-31 04:35:16 PM")
timeB = pd.Timestamp("2016-03-20 02:16:29 AM")

In [276]:
timeB - timeA  # represented negatively. So it's flexible.

Timedelta('-12 days +09:41:13')

In [273]:
timeA - timeB  # returns a Timedelta object. It's a duration.

Timedelta('11 days 14:18:47')

In [274]:
type(timeA)

pandas._libs.tslib.Timestamp

In [279]:
# Can't provide a years param. Just use days. Different from dateoffset
pd.Timedelta(days = 3, minutes = 45, hours = 12, weeks = 8)

Timedelta('59 days 12:45:00')

In [282]:
pd.Timedelta("5 minutes")
pd.Timedelta("6 hours 12 minutes")
pd.Timedelta("14 days 6 hours 12 minutes")

Timedelta('14 days 06:12:00')

## Timedeltas in a Dataset

In [286]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", 
            parse_dates = ["order_date", "delivery_date"])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [291]:
# Let's find the duration between these two dates
# Add the new returned series of TDs as a new column in DF
shipping['delivery_date'] - shipping['order_date']  # returns a series of TDs
shipping["delivery_time"] = shipping['delivery_date'] - shipping['order_date']

In [293]:
shipping.head()  # Can add different datatypes together (TS and TD)

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [299]:
shipping["twice_as_long"] = shipping['delivery_date'] + shipping["delivery_time"] #Returns a datetime series

In [300]:
shipping.head()

   order_date delivery_date delivery_time twice_as_long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22
7  1993-09-02    1998-06-10     1742 days    2003-03-18

In [301]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
delivery_time    timedelta64[ns]
twice_as_long     datetime64[ns]
dtype: object

In [306]:
mask = shipping["delivery_time"] > "3000 days"   # returns Bool which can filter
shipping[mask]

    order_date delivery_date delivery_time twice_as_long
ID
32  1990-01-20    1998-07-24     3107 days    2007-01-25
130 1990-04-02    1999-08-16     3423 days    2008-12-29
151 1991-01-29    1999-08-05     3110 days    2008-02-09
229 1990-04-13    1998-11-17     3140 days    2007-06-23
314 1990-03-07    1999-12-25     3580 days    2009-10-13
331 1990-09-18    1999-12-19     3379 days    2009-03-20
348 1990-02-27    1999-01-04     3233 days    2007-11-11
392 1990-12-24    1999-12-04     3267 days    2008-11-13
590 1990-03-25    1998-12-20     3192 days    2007-09-16
634 1991-04-04    1999-07-21     3030 days    2007-11-06
674 1990-03-16    1998-12-28     3209 days    2007-10-11
760 1990-09-16    1998-12-06     3003 days    2007-02-25
764 1990-09-19    1999-09-16     3284 days    2008-09-12
786 1990-10-26    1999-05-10     3118 days    2007-11-22
884 1990-01-20    1999-11-12     3583 days    2009-09-03
902 1991-07-03    1999-11-10     3052 days    2008-03-19
904 1990-02-13    1999-11-15     3562 days    2009-08-16
943 1991-01-30    1999-12-02     3228 days    2008-10-03

In [308]:
shipping[mask].max()  # max of each column

order_date       1991-07-03 00:00:00
delivery_date    1999-12-25 00:00:00
delivery_time     3583 days 00:00:00
twice_as_long    2009-10-13 00:00:00
dtype: object

In [310]:
shipping["delivery_time"].max()
shipping['delivery_time'].min()

Timedelta('8 days 00:00:00')

In [316]:
now = dt.datetime.now()
now

datetime.datetime(2018, 5, 8, 6, 50, 34, 378168)

In [323]:
now - shipping['order_date'][1]

Timedelta('7289 days 06:50:34.378168')

In [326]:
now - shipping['order_date'].head()

ID
1   7289 days 06:50:34.378168
2   9512 days 06:50:34.378168
4   9949 days 06:50:34.378168
5   9422 days 06:50:34.378168
7   9014 days 06:50:34.378168
Name: order_date, dtype: timedelta64[ns]